= simple_form_for(@training,  :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification
  = display_base_errors @training

  .form-inputs
    .row
      .span6
        = f.input :title, :input_html=>{:class=>'input-xlarge'}, :hint=>'Eg: Networking, Programming'
        = f.input :location, :hint=>'Location of the training - city'
        = f.input :start_date, :input_html=>{:class=>' input-mini'}, :as=>:date
        
      .span6
        = f.input :duration, :input_html=>{:class=>''}, :hint=>'eg: 3 months, 6 months, Indefinite etc'
        = f.input :full_time, :input_html=>{:class=>''}, :hint=>'Time Shift of Training'
        = f.input :end_date, :input_html=>{:class=>' input-mini'}, :as=>:date

        = f.fields_for(:inquiries) do |fs|
          = fs.association :individual, label: 'Trainer', :collection => @individual, :include_blank => 'Select Trainer', :required => true
  %hr    
  .row
    .span12
      / = f.input :description, :input_html=>{:class=>'editor input-xxlarge'}
      = f.label :description
      = f.bootsy_area :description, :input_html=>{:class=>'editor input-xxlarge'}

      %br
      %br
      
      = f.input :published, :label=>'Publish this to Portal?', :collection=>{'false'=>0, 'true'=>1}, :selected => 1, :hint=>'Check if you need to publish this job entry to the portal'
  %hr    
    .form-actions
      = f.button :submit

:javascript
  $(function(){
    $('ul.wysihtml5-toolbar').attr('style', 'margin-left:178px !important;');
    $('iframe.wysihtml5-sandbox').attr('style', 'width:570px !important; margin-left:178px !important;');
  });