%small
  Training Details

%p
  %b
    = training.title
%hr
%dl.dl-horizontal
  %dt
    Full time:
  %dd
    = training.full_time
  %dt
    Duration:
  %dd
    = training.duration
  %dt
    Locaton:
  %dd
    = training.location
  %dt
    Start date:
  %dd
    = training.start_date
  %dt
    End date:
  %dd
    = training.end_date
%p
  =link_to 'More Details', training  