%tr
  %td
    = time_ago_in_words(training.created_at) + ' ago'
  %td
    = link_to training.title, training_path(training)
  %td
    = training.duration
  %td
    = training.status
  %td.muted{colspan: 3}
    = strip_tags training.description.to_s[0,100]+'...'
    .btn-group.pull-right
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", class: 'btn btn-mini'}
        Actions
        %b.caret
      %ul.dropdown-menu
        - if current_user.has_role? :admin, current_tenant
          %li 
            = link_to 'Activate', set_training_status_to_active_path(training)
          %li 
            = link_to 'Deactivate', set_training_status_to_inactive_path(training)
          %li
            = link_to 'Edit', edit_training_path(training)
          %li
            = link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?'}
        %li
          = link_to 'Show', training
