%tr
  %td
    = time_ago_in_words(training.start_date) + ' ago'
  %td
    = link_to training.title.to_s, view_training_path(training)
  %td
    = training.location
%tr
  %td.muted{:colspan=>3, :style=>'border-top:0px;'}
    = strip_tags(training.description.to_s[0,240])+'...'
  

