%p#notice= notice
.row
  .span8
    %h2
      = @training.title
    %hr
    .row
      .span4
        %dl.dl-horizontal
          %dt
            Full time:
          %dd
            = @training.full_time
          %dt
            Duration:
          %dd
            = @training.duration
          %dt
            Locaton:
          %dd
            = @training.location
      .span4
        %dl.dl-horizontal
          %dt
            Start date:
          %dd
            = @training.start_date
          %dt
            End date:
          %dd
            = @training.end_date
    %hr
    .row
      .span8
        %legend
          Description
        =simple_format(@training.description)
    %hr
    .row
      .span8
        %h3
          Applications
        / .pull-right
        /   .btn-group
        /     %button{ 'data-toggle'=>"dropdown", 'class'=>"btn  dropdown-toggle"}
        /       %i.icon-user
        /       Add Candidate
        /       %span.caret
        /     %ul.dropdown-menu
        /       %li
        /         = link_to 'New Candidate', new_candidate_path
        /       %li
        /         = link_to 'Existing Candidate', candidate_list_path(:training_id=>@training.id), :remote => true, :id=>'link-to-add-existing-candidate'
        /       %li
        /         = link_to 'Add Trainer', new_candidate_path(:training_id=>@training.id)
        - if @training.inquiries.count == 0 then
          .alert
            No applications for the training yet
        - else
          %table.table.table-striped
            %thead
              %tr
                %th
                  Candidate Name
                %th
                  Applied On
                %th
                  Account Email
                %th
                  CV
                %th
            %tbody
              - @training.inquiries.are_accepted.each do |inquiry|
                - if !inquiry.individual.user.has_role? :trainer, current_tenant
                  %tr
                  %td
                    =link_to inquiry.individual.name, individual_path(id: inquiry.individual.id,tid: @training.id)
                    - if !inquiry.individual.blank?
                      .badge.badge-success#state_colors
                        = inquiry.state

                  %td
                    = time_ago_in_words(inquiry[:updated_at]) + ' ago'
                  %td
                    =inquiry.individual.user.email
                  %td
                    - if inquiry.individual.cv_url then
                      = link_to inquiry.individual.cv_url do
                        %i.icon.icon-arrow-down
                  %td
                    .btn-group
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                        Actions
                        %b.caret
                      %ul.dropdown-menu
                        - if !inquiry.individual.blank? then
                          %li
                            - if inquiry.pending?
                              = link_to pending_to_accepted_inquiry_path(id: inquiry.id), :id =>'accept' do
                                Accept
                              = link_to pending_to_rejected_inquiry_path(id: inquiry.id), :id =>'reject' do
                                Reject
                            - if inquiry.accepted?
                              = link_to accepted_to_pending_inquiry_path(id: inquiry.id), :id =>'unaccept' do
                                UnAccept
                            - if inquiry.rejected?
                              = link_to rejected_to_pending_inquiry_path(id: inquiry.id), :id =>'unreject' do
                                UnReject
                        %li
                          = link_to 'View', inquiry_path(inquiry)
  .span4  
    .pull-right
      = link_to 'Edit', edit_training_path(@training)
      \|
      = link_to 'Back', trainings_path
  .span4
    .pull-left
      %h1 Trainer
      %h4
        - @training.inquiries.each do |inquiry|
          - if inquiry.individual.user.has_role? :trainer, current_tenant
            %ul{style: "list-style:none;"}
              %li
                %h4
                  = link_to inquiry.individual.name, individual_path(id: inquiry.individual.id,tid: @training.id)

// :javascript
//   $(document).on('ajax:success', '#link-to-add-existing-candidate', function(evt, data, status, xhr){
//     bootbox.dialog(xhr.responseText, { "label": "Cancel"});
//     $('.modal-body').css('max-height','750px');
//   });