.row
  .span2
  .span8
    %p#notice= notice
    %h2
      Apply To Training
    %p
      %b Title:
      = @training.title

    = simple_form_for(@inquiry, :url=>applied_training_path(@training), :html=>{:class=>' form-horizontal'}) do |builder|
      = builder.error_notification

      .form-inputs
        = builder.input :training_id, :as=>:hidden
        = builder.input :individual_id, :as=>:hidden
        = builder.input :current_employer, :hint=>'Who are you working for now?'
        = builder.input :date_available, :input_html=>{:class=>'datepicker input-mini'}, :hint=>'When is the earliest you can join?' 
        = builder.input :current_pay, :hint=>'What is your current package in USD'
        = builder.input :desired_pay, :hint=>'What kind of package are you interested in'
        = builder.input :can_relocate, :hint=>'Would you consider relocation'
        = builder.input :best_time_to_call, :hint=>'After 11, Fridays, Between 5pm to 10pm?'
        = builder.input :cv, :as=>:file, :label=>'Upload Your CV', :hint=>'Upload a pdf, word document'

      .form-actions
        = builder.button :submit, :value=>'Apply', :class=>'btn btn-primary'
  .span2
