- content_for(:title) do
  - "Training available"
%h3 Trainings
.row
  .span12
    .row
      .span9
        = form_tag trainings_path, method: :get, class: 'well form-inline' do
          %span
            = text_field_tag 'by_name', params[:by_name], :class => 'input-xlarge', :placeholder=>'By Name'
            = submit_tag 'Filter', class: 'btn-info btn'
      .span3
        .well.form-inline
          - if current_user.has_role? :admin, current_tenant
            = link_to 'Add Training', new_training_path, class: 'btn'
    .btn-toolbar
      .btn-group
        = link_to 'All', trainings_path, class: (params[:starts_with].nil?) ? 'btn btn-mini btn-inverse' : 'btn-mini btn'
      .btn-group
        - "A".upto("Z") do |letter|
          = link_to letter, trainings_path(starts_with: letter), class: (params[:starts_with] == letter)? 'btn btn-mini btn-inverse' : 'btn btn-mini'
      / - if current_user.has_role? :admin, current_tenant
      /   = link_to trainings_path(params.merge(format: :csv)), class: 'pull-right btn btn-mini' do
      /     %i.icon-share-alt
      /     Export to CSV
            
    %table.table.tabled-striped
      %thead
        %tr
          %th
            = sortable 'created_at', 'Posted on'
          %th
            = sortable 'title', 'Title'
          %th
            = 'Duration'
          %th
            = 'Status'
          %th
            = 'Description'
      %tbody
        - @trainings.each do |training|
          = render 'training', :training=>training
    .pull-left
      = paginate @trainings if @trainings.any?
    .pull-right
      = page_entries_info @trainings
