- content_for(:title) do
  - "Training Listings"
%h3 Trainings
%h3.pull-right
  - if !user_signed_in?
    = link_to "Sign-Up", candidate_join_path, class: " btn"
    = link_to "Sign-In", new_user_session_path, class: " btn"
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th
            = 'Posted On'
          %th
            = 'Title'
          %th
            = 'Duration'
      %tbody
        - @trainings.each do |training|
          = render 'training_list', :training=>training
    .pull-left
      = paginate @trainings if @trainings.any?
    .pull-right
      = page_entries_info @trainings

:javascript