%p#notice= notice
.row
  .span8
    %h2
      = @training.title
    %hr
    .row
      .span4
        %dl.dl-horizontal
          %dt
            Full time:
          %dd
            = @training.full_time
          %dt
            Duration:
          %dd
            = @training.duration
          %dt
            Locaton:
          %dd
            = @training.location
      .span4
        %dl.dl-horizontal
          %dt
            Start date:
          %dd
            = @training.start_date
          %dt
            End date:
          %dd
            = @training.end_date
          %dt
            Status:
          %dd
            = @training.status
    %hr
    .row
      .span8
        %legend
          Description
        =simple_format(@training.description)

    - if current_user.has_role? :trainee, current_tenant then
      %hr
      .row
        .span3.pull-right
          %h3
            %a#ratorstooltip{"data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: "#{@rators}</br>"} Rators List
        .span4
          %h3 Ratings
          .alert-success#success
          #average_rating{style: "display:inline;"}
            = 'Average rating: ' + @training.avg_rating.to_s + ' stars'
        .span8.pull-right
          / %h1 Ratings
          %br
          = current_user.username + ' your rating:'
          - form_id = "training_#{@training.id}_rating"
          - if user_signed_in?
            - user_id = current_user.id
          - else
            - user_id = -1
          = form_for @training.ratings.find_or_create_by_user_id current_user.id do |f|
            = f.hidden_field :training_id, :value => @training.id
            - if user_signed_in?
              = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :stars, :id => form_id + "_stars"
          - (1..5).each do |i|
            %li.rating_star{"data-form-id" => form_id, "data-stars" => i, id: "#{form_id}_#{i}"}
    %hr
    .row
      .span8
        %h3
          Applications
        .pull-right
          .btn-group
            %button{ 'data-toggle'=>"dropdown", 'class'=>"btn  dropdown-toggle"}
              %i.icon-user
              Add
              %span.caret
            %ul.dropdown-menu
              %li
                / = link_to 'Add Trainee', "#"
                = link_to 'Add Trainee', new_candidate_path(:training_id=>@training.id)
              / %li
              /   = link_to 'New Candidate', new_candidate_path
              / %li
              /   = link_to 'Existing Candidate', candidate_list_path(:training_id=>@training.id), :remote => true, :id=>'link-to-add-existing-candidate'
              / %li
              /   = link_to 'Add Trainer', new_candidate_path(:training_id=>@training.id)
        - if @training.inquiries.count == 0 then
          .alert
            No applications for the training yet
        - else
          %table.table.table-striped
            %thead
              %tr
                %th
                  Candidate Name
                %th
                  Applied On
                %th
                  Account Email
                %th
                  CV
                %th
            %tbody
              - @training.inquiries.each do |inquiry|
                - if inquiry.individual_id !=nil
                  - if inquiry.individual.user_id != nil
                    - if !inquiry.individual.user.has_role? :trainer, current_tenant
                      %tr
                      %td
                        =link_to inquiry.individual.name, individual_path(id: inquiry.individual.id,tid: @training.id)
                        - if !inquiry.individual.blank?
                          - if inquiry.state == 'accepted'
                            .badge.badge-success
                              = inquiry.state
                          - if inquiry.state == 'rejected'
                            .badge.btn-danger.btn-mini
                              = inquiry.state
                          - if inquiry.state == 'pending'
                            .badge.badge-warning
                              = inquiry.state

                      %td
                        = time_ago_in_words(inquiry[:updated_at]) + ' ago'
                      %td
                        =inquiry.individual.user.email
                      %td
                        - if inquiry.individual.cv_url then
                          = link_to inquiry.individual.cv_url do
                            %i.icon.icon-arrow-down
                      %td
                        .btn-group
                          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                            Actions
                            %b.caret
                          %ul.dropdown-menu
                            - if !inquiry.individual.blank? 
                              - if current_user.has_role? :admin, current_tenant
                                %li
                                  - if inquiry.pending?
                                    = link_to pending_to_accepted_inquiry_path(id: inquiry.id, tid: @training.id), :id =>'accept' do
                                      Accept
                                    / = link_to pending_to_accepted_inquiry_path(id: inquiry.id), :id =>'accept' do
                                    /   Accept
                                    = link_to pending_to_rejected_inquiry_path(id: inquiry.id, tid: @training.id), :id =>'reject' do
                                      Reject
                                  - if inquiry.accepted?
                                    = link_to accepted_to_pending_inquiry_path(id: inquiry.id, tid: @training.id), :id =>'unaccept' do
                                      UnAccept
                                  - if inquiry.rejected?
                                    = link_to rejected_to_pending_inquiry_path(id: inquiry.id, tid: @training.id), :id =>'unreject' do
                                      UnReject
                            %li
                              = link_to 'View', inquiry_path(inquiry)
    #anchorcomment
    .row
      .span8
        %hr
          %h3 Comment
        - @resource = @training
        = render 'trainings/comments'

  .span4  
    .pull-right
      = link_to 'Edit', edit_training_path(@training)
      \|
      = link_to 'Back', trainings_path
  .span4
    .pull-left
      %h1 Trainer
      %h4
        - @training.inquiries.each do |inquiry|
          - if inquiry.individual_id !=nil
            - if inquiry.individual.user_id != nil
              - if inquiry.individual.user.has_role? :trainer, current_tenant
                %ul{style: "list-style:none;"}
                  %li
                    %h4
                      = link_to inquiry.individual.name, individual_path(id: inquiry.individual.id,tid: @training.id)
    .span4{style: "margin-top:18em;"}
      %hr
        %h3
          %a{href: "#anchorcomment"}
            %img{src: "/assets/comment.jpg"}

:css
  li.rating_star {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url(/assets/star.png) top left;
  } 

  li.rating_star.on {
    background: url(/assets/star.png) 0 -25px;
  }

  li.rating_starr {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url(/assets/star.png) 0 -25px;
  } 

  // li.rating_starr.on {
  //   background: url(/assets/star.png) 0 -25px;
  // }

:javascript
  $(document).on('ajax:success', '#link-to-add-existing-candidate', function(evt, data, status, xhr){
    bootbox.dialog(xhr.responseText, { "label": "Cancel"});
    $('.modal-body').css('max-height','750px');
  });

  $('.rating_starr').click(function() {
    $('#not_trainee').text('Only a trainee can rate');
  });

  $('#ratorstooltip').tooltip({html: true});