%p#notice= notice
.row
  .span2
  .span8
    .row
      .span8
        %h2
          = @training.title
        %hr
        .row
          .span4
        %dl.dl-horizontal
          %dt
            Full time:
          %dd
            = @training.full_time
          %dt
            Duration:
          %dd
            = @training.duration
          %dt
            Locaton:
          %dd
            = @training.location
      .span4
        %dl.dl-horizontal
          %dt
            Start date:
          %dd
            = @training.start_date
          %dt
            End date:
          %dd
            = @training.end_date
    .row
      .span8
        %legend
          Description
        =simple_format(@training.description)
    
    .row
      .span8
        - if current_user then
          - if current_user.has_role? :candidate, current_tenant then
            - if @check_applied == 1
              .well
                = link_to 'Back', portal_training_path, :class=>'btn'
            - else
              .well
                / = link_to 'Apply', apply_training_path(@training), :class=>'btn-primary btn'
                = link_to 'Apply', applied_training_path(@training), :class=>'btn-primary btn'
                = link_to 'Back', portal_training_path, :class=>'btn'
          - else
            .alert
              You cannot apply to this training - only a candidate can apply
        - else
          .well
            .btn-group
              %button{ 'data-toggle'=>"dropdown", 'class'=>"btn btn-primary dropdown-toggle"}
                Apply
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to ' Sign Up', candidate_join_path(:training_id=>@training.id, swap: 2)
                %li
                  = link_to ' Sign in', candidate_login_path(:training_id=>@training.id, swap: 2)
            = link_to 'Back', portal_training_path, :class=>'btn'
%script
  ='var TRAINING_ID = ' + @training[:id].to_s + ';'
:javascript
  $(function(){
    $(document).on('ajax:success', '#new_candidate_signup_login_form', function(evt, data, status, xhr){
      bootbox.dialog(xhr.responseText, { "label": "Cancel"});
    });

    $(document).on('ajax:success', 'form.candidate_register_form', function(evt, data, status, xhr){
      // redirect to the job
      alert(1);
      window.location = '/trainings/#{@training.id }/apply'
    });

    $(document).on('ajax:success', 'form.candidate_signin_form', function(evt, data, status, xhr){
      // redirect to the job
      window.location = '/trainings/'+TRAINING_ID+'/apply'
    });

  $(document).on('ajax:error', 'form', function(evt, data, status, xhr){

    try {
      // Populate errorText with the comment errors
      errors = $.parseJSON(data.responseText);
    } catch(err) {
      // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
      errors = {message: "Please reload the page and try again"};
    }
    {
      errorText = "There were errors with the submission:";
      for ( error in errors ) {
        elem = $(this).find('#user_'+error);
        $(elem[0]).parents('.control-group').first().addClass('error');
        $(elem[0]).parents('.controls').first().find('div').remove();
        $(elem[0]).parents('.controls').first().append('<div class="alert alert-error">'+errors[error][0]+'</div>')
      }
    }
  });


      $('.dropdown-toggle').dropdown()

  })