%h2
  Settings 
= simple_form_for(@current_term, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors @current_term
  = f.input :salary_terms, :collection => {'Weekly'=> 7,'Bi-Weekly'=>14,'Monthly'=>30}
  = f.input :salary_gap_terms
  = f.input :salary_payment_day, :as => :select , :collection => 1..28, :label_method => :ordinalize
  = f.button :submit, 'Set', :class => 'btn-primary'