= form_for @message, method: "post",id:"drop_form",:url => messages_path(@message, :anchor => 'drop'),:html => {class: 'span5 offset1 con-filde'} do |f|
  / = render 'layouts/messages', :target => @message
  - flash.each do |name, msg|
    - if msg.is_a?(String) and msg == "Message sent! Thank you for contacting us."
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}"
  / %input.input-xxlarge.search-query{placeholder: "Name", type: "text"}
  .abc
    = f.text_field :name ,:placeholder => "Name", :type => 'text', class:  'input input-xxlarge search-query login-queryy'
  / %input.input-xxlarge.search-query{placeholder: "Email", type: "text"}
  .abc
    = f.text_field :email ,:placeholder => "Email", :type => 'text', class:  'input input-xxlarge search-query login-queryy'
  / %input.input-xxlarge.search-query{placeholder: "Subject", type: "text"}
  .abc
    = f.text_field :subject,:placeholder => "Subject", :type => 'text',class:  'input input-xxlarge search-query login-queryy'
  .span5.con-msg
    / %textarea{placeholder: "Message", rows: "8"}
    = f.text_area :message ,:placeholder => "Message", :rows => '8'
    / %button.mobile-btn-large.pull-right{type: "button"} Learn More
    = submit_tag 'Learn More', class: 'mobile-btn-large pull-right'