/ %h3 Sign up
/ = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
/   %fieldset
/     = f.error_notification
/     = display_base_errors resource
/     = f.input :stripe_card_token, as: :hidden
/     = f.input :username, :autofocus => true
/     = f.input :email, :required => true
/     = f.input :password, :required => true
/     = f.input :password_confirmation, :required => true
/     = fields_for(:tenant) do |w|
/       = w.label :company
/       = w.text_field :company
/       = w.label :subdomain
/       = w.text_field :subdomain, :'data-validate' => '/checkname'
/       %small For Example http://subdomain.etyme.com
/       %br
/       %small#dupcompany
/     = recaptcha_tags
/     %br
/     = f.button :submit, 'Sign up', :class => 'btn-primary'
/ = render "devise/shared/links"

%h2 Sign up
= simple_form_for(resource,:validate => :user_validators, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical', autocomplete: 'off' }) do |f|
  / = f.error_notification
  / = display_base_errors resource
  / = devise_error_messages!
  / = f.input :stripe_card_token, as: :hidden
  .span5.login-fld
    %p
      = f.input :username,:validate => { :presence => true, :uniqueness => true }, label: false, :autofocus => true, placeholder: 'Username', class: 'input-xxlarge search-query login-queryy'
    %p
      = f.input :email,:validate => { :presence => true, :uniqueness => true }, label: false, :required => true, placeholder: 'Email', class: 'input-xxlarge search-query login-queryy'
    %p  
      = f.input :password, label: false, :required => true, placeholder: 'Password', class: 'input-xxlarge search-query login-queryy'
    %p  
      = f.input :password_confirmation, label: false, :required => true, placeholder: 'Confirm Password', class: 'input-xxlarge search-query login-queryy'
    = fields_for(:tenant) do |w|
      .logn-bg.xyz
        = w.text_field :company, label: false, placeholder: 'Company', class: 'input-xxlarge search-query login-queryy'
      .logn-bg
        = w.text_field :subdomain, label: false, :'data-vali' => '/checkname', placeholder: 'Subdomain', class: 'input-xxlarge subpredict login-queryy'
        %p
        %small#dupcompany
        %br
        %small
          %font{color: "white"}For Example http://subdomain.etyme.com
    %br
    #captcha
      = recaptcha_tags
    %br
    %br
    - if controller_name != 'sessions'
      = link_to "Sign in", new_session_path(resource_name), class: 'signupclorr'
      %br/
    = f.button :submit, 'Sign up', id: 'del_btn', :class => 'login-btnn-largee'
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      %small
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'deviselinks'
      %br/
    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      %small
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'deviselinks'
  / %br
  / = f.button :submit, 'Sign up', id: 'del_btn', :class => 'login-btnn-large'
/ = render "devise/shared/links"

:javascript
  window.onload = function()
    {
      $("#user_username").removeClass("string required");
      $("#user_username").addClass("input-xxlarge search-query login-queryy");
      $("#user_username").parent().addClass("abc");
      $("#user_email").removeClass("string email required");
      $("#user_email").addClass("input-xxlarge search-query login-queryy");
      $("#user_email").parent().addClass("abc");
      $("#user_password").removeClass("password required");
      $("#user_password").addClass("input-xxlarge search-query login-queryy");
      $("#user_password").parent().addClass("abc");
      $("#user_password_confirmation").removeClass("password required");
      $("#user_password_confirmation").addClass("input-xxlarge search-query login-queryy");
      $("#user_password_confirmation").parent().addClass("abc");
      $("#del_btn").removeClass("btn");
      $("#recaptcha_response_field").css("color", "white");
    }
