= simple_form_for(@comment, :remote => true,  :input_html => {:class=>' edit-comment-form'}) do |f|
  = f.error_notification
  .form-inputs
    .row
      .span3
        = f.input :comment, :input_html =>{:class=>'span5', :rows=>8}
        = f.button :submit, :class=>'dont-remove-me'