.row.show-on-hover.comment{'data-id' => comment.id, 'data-time' => comment.created_at.to_i, :id=>'comment-item-'+comment.id.to_s, :class=>'comment_is_visible_to_'+comment.visible_to.to_s }
  .span8
    .pull-left{:style=>'margin-right:-12px;'}
      =image_tag('default-avatar_35x35.png', :class=>'img-polaroid')
    .row
      .span7
        .pull-right
          - if comment.commentable_type == 'Request' then
            - if comment.visible_to =='team_and_client' then
              %p
                %span.label.label-important
                  CLIENT
              = link_to set_visibility_comment_path(comment, :visible_to=>'team'), :remote=>true, :class=>'change-comment-visibility-link btn btn-mini btn-success', :title=>'Show only to Team' do
                %i.icon-eye-close.icon-white
            - else
              = link_to set_visibility_comment_path(comment, :visible_to=>'team_and_client'), :remote=>true, :class=>'change-comment-visibility-link btn btn-mini btn-danger', :title=>'Show to Client' do
                %i.icon-eye-open.icon-white
        / - @tenants.each do |tenant|
        - if current_user.has_role? :admin, current_tenant||(current_user.id == comment.user_id)
          = link_to edit_comment_path(comment), :remote=>true, :id=>'edit-comment-link-'+comment.id.to_s, :class=>'edit-comment-link btn btn-mini' do
            %i.icon-edit                
          = link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-mini' do
            %i.icon-trash
        %p
          %b
            = comment.user.name
          %br
          %small
            = time_ago_in_words(comment.created_at) + ' ago'
          %blockquote
            =simple_format(comment.comment)
