.row
  .span8
    %h1 Listing invoices

    %table.table
      %tr
        %th ID
        %th CONTRACT ID
        %th STATUS
        %th DUE DATE
        %th TOTAL
        %th ACTIONS

      - @invoices.each do |invoice|
        %tr
          %td= invoice.id
          %td= invoice.timesheets.first.contract.id
          %td= invoice.state
          %td= invoice.due_date
          %td= invoice.total_rate
          %td
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                Actions
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Show', invoice
    
    = link_to 'Generate Pending invoices',auto_invoicing_path, :class => 'btn btn-warning'
    = link_to 'Clear Pending invoices',clear_invoices_path, :class => 'btn btn-success'
    %br
    .pull-left
      = paginate @invoices if @invoices.any?
    .pull-right
      = page_entries_info @invoices