%p#notice= notice

.row
  .span8
    %h1 
      Invoice #
      = @invoice.id
    %p
      This is a generated invoice against the following timesheets
    %dl.dl-vertical
      %dt
        %b Bill to
      %dd
        = Company.find(@contract.job.company_id).company_name
    %dl.dl-horizontal.pull-right
      %dt
        %b Payment Terms: 
      %dd
        = @contract.payment_terms.to_s + " Days"
      %dt
        %b Date: 
      - if @contract.due_invoice_day != nil
        %dd
          = (Time.current.beginning_of_month + (@contract.due_invoice_day.days - 1.days)).to_date
      - if @invoice.due_date != nil
        %dt
          %b Due Date: 
        %dd
          = @invoice.due_date.to_date
    %table.table
      - salary = 0
      - rate = 0
      - @invoice.timesheets.each do |timesheet|
        %tr
          %th{:colspan => 2}
            TIMESHEET ID
          %th
            TIMESHEET FOR PERIOD
          %th
            TIME LOGGED
          %th
        %tr
          %td{:colspan => 2}
            = timesheet.id
          %td
            - if timesheet.type == 'WeeklyTimesheet' then
              .label.label-inverse
                WEEKLY
              =timesheet.starts.to_date
              = '-'
              =timesheet.ends.to_date
            - else
              .label.label-info
                MONTHLY
              =timesheet.starts.to_date.strftime("%B")
              =timesheet.starts.to_date.year
          %td
            =timesheet.minutes_in_hours
          %td
        %tr
          %th
          %th
            %small
              DATE
          %th
            %small
              HOURS
          %th
            %small
              AMOUNT
          / %th
          /   %small
          /     PAY TO CANDIDATE
          %th
        - timesheet.time_entries.each do |time_entry|
          %tr
            %td
            %td
              %small
                = time_entry.for_date
            %td
              %small
                = time_entry.minutes_in_hours

            %td
              %small
                = time_entry.rate
                - rate += time_entry.rate
            / %td
            /   %small
            /     = time_entry.salary
            /     - salary += time_entry.salary
      %tr
        %th{:colspan => 3}
          AMOUNT DUE
        %th
          = rate
        / %th
        /   = salary
  .span4
    %small
      FOR CONTRACT
    %br
    %b
      CONTRACT #
      =@contract.id
= link_to 'Back', invoices_path
