- single_content_for :action do
  assigned 
  = link_to_trackable activity.recipient, activity.recipient_type
  as operator for the Request
  = link_to_trackable activity.trackable, activity.trackable_type
  