- single_content_for :action do
  updated the customer 
  = link_to_trackable activity.recipient, activity.recipient_type
  on the Request
  = link_to_trackable activity.trackable, activity.trackable_type
  