= simple_form_for(@aircraft, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ac_reg, :label =>'A/C Registration'
    = f.input :ac_type, :label =>'A/C Type', :hint=>'Is it a boeing, Antonov, Airbus?'
    = f.input :mtow, :label=>'MTOW', :hint=>'Maximum take-off weight in metric tonnes'
    = #f.input :operator_name, :hint=>'Type and choose the contact who operates this aircraft'
    = f.input :operator_id, :as=>:hidden

  .form-actions
    = f.button :submit

:javascript

$(function(){
  $( "#aircraft_operator_name" ).autocomplete({
      source: "/operators/search",  
      minLength: 2,
      select: function(event, ui) {
        if (ui.item.id == 0){
        }else{
          $('#aircraft_operator_name').val(ui.item.name);
        }
        $('#aircraft_operator_id').val(ui.item.id);
        return false;
      },
      //response: function( event, ui ) { ui.content.push({id:'0',name:'Add a new operator?'})},
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + item.name + "</a>" )
          .appendTo( ul );
  };
})