= simple_form_for(@aircraft, :remote => true, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ac_reg, :label =>'A/C Registration'
    = f.input :ac_type, :label =>'A/C Type', :hint=>'Is it a boeing, Antonov, Airbus?'
    = f.input :mtow, :label=>'MTOW', :hint=>'Maximum take-off weight in metric tonnes'
    = f.input :operator_id, :as=>:hidden

  .form-actions
    = f.button :submit, :class=>'btn-primary'