- content_for(:title) do
  - "Aircrafts"

%h1 Aircrafts
%hr
.row
  .span8
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            = sortable 'ac_reg', 'REGISTRATION'
          %th
            = sortable 'ac_type', 'A/C TYPE'
          %th
            = sortable 'mtow', 'MTOW(TONNES)'
          %th
      %tbody
      - @aircrafts.each do |aircraft|
        %tr
          %td= aircraft.ac_reg
          %td= aircraft.ac_type
          %td= aircraft.mtow
          %td
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                Actions
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Show', aircraft
                %li
                  = link_to 'Edit', edit_aircraft_path(aircraft)
                %li
                  = link_to 'Destroy', aircraft, method: :delete, data: { confirm: 'Are you sure?' }

    .pull-left
      = paginate @aircrafts if @aircrafts.any?
    .pull-right
      = page_entries_info @aircrafts
                  
  .span4
