- content_for(:title) do
  - "Aircrafts::"+@aircraft.ac_reg

%p#notice= notice

%p
  %b Ac reg:
  = @aircraft.ac_reg
%p
  %b Ac type:
  = @aircraft.ac_type
%p
  %b Mtow:
  = @aircraft.mtow

= link_to 'Edit', edit_aircraft_path(@aircraft)
\|
= link_to 'Back', aircrafts_path
