.controls
  = f.association :individual, :label => 'Name' , :collection => @names, :hint => 'The person to whom the commission will be paid'
  / = f.input :user_id, :as => :hidden
  = f.input :commission_type, :as => :radio_buttons, :collection => ['Fixed','Hourly','Monthly'], :wrapper_html => {:class =>'radio-com_type'}
  = f.input :fixed_commission, :wrapper_html => {:class =>'f_commission hide'}
  = f.input :hourly_commission, :wrapper_html => {:class => 'h_commission hide'}
  = f.input :monthly_commission, :wrapper_html => {:class => 'm_commission hide'}
  = f.input :is_commission_displayed, :hint=>'Check this if you want to display commission to employee', :label => false
  .pull-right
    = link_to_remove_fields "remove",f

  :javascript
    $(function(){
      // $('.f_commission').hide();
      // $('.h_commission').hide();
      $('.radio-com_type input[type="radio"]').click(function(){
              var currId = $(this).attr('id').split('_')[3];
              var selected = $(this).val();
              // alert(selected);
        // var selected = $('[name="radio-com_type"] input[type="radio"]:checked').val();
        // alert(selected);
        if(selected == 'Fixed') {
          // alert(selected);
          //alert(currId);
          $($("#contract_commissions_attributes_"+currId+"_fixed_commission").parent().parent()[0]).removeClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_hourly_commission").parent().parent()[0]).addClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_monthly_commission").parent().parent()[0]).addClass('hide');
        } else if(selected == 'Hourly') {
          // alert(selected);
          $($("#contract_commissions_attributes_"+currId+"_fixed_commission").parent().parent()[0]).addClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_monthly_commission").parent().parent()[0]).addClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_hourly_commission").parent().parent()[0]).removeClass('hide');
        } else if(selected == 'Monthly') {
          // alert(selected);
          $($("#contract_commissions_attributes_"+currId+"_fixed_commission").parent().parent()[0]).addClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_monthly_commission").parent().parent()[0]).removeClass('hide');
          $($("#contract_commissions_attributes_"+currId+"_hourly_commission").parent().parent()[0]).addClass('hide');
        }
      });
    });