= simple_form_for(@contract,:html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification
  = display_base_errors @contract

  .form-inputs
    = f.association :job, :collection=> @ajobs,:prompt => 'Select a Job'
    = f.association :individual, :collection => @cand,:prompt => 'Select a Candidate', :include_blank => false, :label => "Candidate"
    = f.input :timesheet_type, :as => :radio_buttons, :collection => ['Monthly', 'Weekly']
    = f.input :contract_start_date, :as=> :date, :input_html=>{:class=>'input-small'}
    %legend
      Customer Details
    .control-group
      = f.input :comp, :as => :select,:collection => [@comp], :label => 'Customer: ',:wrapper_html => {:class =>'company_name'}, :include_blank => false, :disabled => true
      = f.input :due_invoice_day, :as => :select , :collection => 1..28, :label_method => :ordinalize, :label => 'Invoice Date'
      = f.input :payment_terms
      %label.control-label
      = f.fields_for :customer_price do |p|
        - render 'customer_price_fields', :f => p
      .customer
        .controls
          = link_to_add_customer_detail_fields "Add a Sale Price", f, :customer_price
    %legend
      Contract Details
    .control-group
      = f.input :employee_type, :label=>'Contract Type', :as=>:radio_buttons, :collection => { 'Vendor(1099)'=>:vendor_1099, 'Employee(w2)' => :employee_w2 }
      %label.control-label
      = f.fields_for :employee_price do |p|
        - render 'contracts/employee_fields', :f => p
      .employee
        .controls
          = link_to_add_employee_detail_fields "Add Employee Detail", f, :employee_price
      = f.fields_for :vendor_price do |p|
        - render 'contracts/vendor_fields', :f => p
      .vendor
        .controls
          = link_to_add_vendor_detail_fields "Add Vendor Detail", f, :vendor_price
    
    / = f.fields_for :billable_periods do |b|
    /   = b.input :rate, :label => 'Hourly Rate - Customer', :hint=>'Cost of work per hour to charge the customer for this employee, Enter to change the applicable rate, changes will be effective from the new start date'
    /   = b.input :salary, :label => 'Salary - Employee (per Hour)', :hint=>'Amount to pay the employee per hour, Enter to change the applicable salary, changes will be effective from the new start date'
    /   = b.input :start_date, :as=> :date, :input_html=>{:class=>'input-mini'}, :hint =>'When do the new changes apply.'
    %legend
      Commissions
    .control-group
      %label.control-label
      = f.fields_for(:commissions) do|builder|
        - render 'contracts/commission_fields', :f => builder
      .controls
        = link_to_add_commission_detail_fields "Add a Commission", f, :commissions
    %legend
      Attachments
    .control-group
      %label.control-label
      = f.fields_for :attachments do |a|
        - render 'contracts/attachment_fields', :f => a
      .controls
        = link_to_add_attachment_detail_fields "Add an Attachment", f, :attachments

  .form-actions
    = f.button :submit

:javascript
  $(function(){
    $('.vendor').hide();
    $('.employee').hide();
    $('.contract_employee_type input[type="radio"]').change(function() {
      var selected = $(this).val();
      if(selected == 'vendor_1099') {
        $('.vendor').show();
        $('.employee').hide();
      } else if(selected == 'employee_w2') {
        $('.vendor').hide();
        $('.employee').show();
      }
    });
    $("#contract_job_id").change(function(){
      var url = 'get_candidates/' + $(this).val() + '.json'
      var url_1 = 'get_customer/' + $(this).val() + '.json'
      var select = $("#contract_candidate_id");
      var selected = $('#contract_comp')
      select.children().remove();
      $.getJSON(url, function(data) {
        $.each(data, function() {
            select.append($("<option/>").val(this.id).text(this.name));
        });
      });
      selected.children().remove();
      $.getJSON(url_1, function(data) {
        $.each(data, function() {
            selected.append($("<option/>").val(this.id).text(this.name));
        });
      });
    });
    // $('.customer a').click(function(){
    //   var job_id = $('#contract_job_id').val();
    //   var url_1 = 'get_customer/' + job_id + '.json'
    //   var selected = $('.company_name').children().children();
    //   alert(selected.attr('id'));
    //   selected.children().remove();
    //   $.getJSON(url_1, function(data) {
    //     $.each(data, function() {
    //         selected.append($("<option/>").val(this.id).text(this.name));
    //     });
    //   });
    // });
  });