.controls
  %h4 Sale Price
  = f.input :price_type,:as => :hidden,:input_html => { :value => 'Customer' }
  = f.input :type,:as => :hidden
  = f.input :start_date, :as=> :date, :input_html=>{:class=>'input-small'}
  = f.input :end_date, :as=> :date, :input_html=>{:class=>'input-small'}
  = f.input :sale_price, :wrapper_html => {:class =>'s_price'}, :required => true
  = f.input :check_sale_price, :as => :hidden, :input_html=>{:value => true}
  = f.input :is_price_displayed, :hint=>'Check this if you want to display price to employee', :label => false
  = f.input :master_services_agreement, :as =>:file, :label=>'Master Services Agreement'
  = f.input :purchase_orders, :as =>:file, :label=>'Purchase Orders'
  .pull-right
    = link_to_remove_fields "remove",f