= simple_form_for(@contract) do |f|
  = f.error_notification
  = display_base_errors @contract

  .form-inputs
    = f.input :candidate_id, :as=> :hidden
    = f.input :job_id, :as=> :hidden
    = f.input :timesheet_type, :as => :radio_buttons, :collection => ['Monthly', 'Weekly']
    
    = f.fields_for :billable_periods do |b|
      = b.input :rate, :label => 'Hourly Rate - Customer', :hint=>'Cost of work per hour to charge the customer for this employee, Enter to change the applicable rate, changes will be effective from the new start date'
      = b.input :salary, :label => 'Hourly Salary - Employee', :hint=>'Amount to pay the employee per hour, Enter to change the applicable salary, changes will be effective from the new start date'
      = b.input :start_date, :as=> :date, :input_html=>{:class=>'input-mini'}, :hint =>'When do the new changes apply.'

  .form-actions
    = f.button :submit
