.row
  .span12
    %h1 Active Contracts
  .span12
    .pull-right
      - if current_user.has_role? :admin, current_tenant then
        = link_to 'New Contract', new_contract_path, :class=>'btn'

    %table.table
      %tr
        %th #
        %th Start date
        %th Type
        %th Candidate
        %th Job
        %th Status
        %th
        %th

      - @contracts.each do |contract|
        %tr
          %td= contract.id
          %td= contract.start_date
          %td= contract.timesheet_type
          %td= contract.individual.name
          %td= contract.job.title
          %td= contract.status
          %td
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                Actions
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Show', contract
                %li
                  = link_to 'Edit', edit_contract_path(contract)
                %li
                  = link_to 'Cancel', cancel_contract_path(contract)


    %br
    .pull-left
      = paginate @contracts if @contracts.any?
    .pull-right
      = page_entries_info @contracts