%h1 New Contract

.row
  .span8
    %p
      This is a contract issued between the company and the contractor
      = link_to @contract.individual.name, @contract.individual
      for the job
      = link_to @contract.job.title, @contract.job
    .well
      %p
        %b
          JOB DESCRIPTION
      =simple_format(@contract.job.description)

    = simple_form_for(@contract,  :html=>{:class=>' form-horizontal'}) do |f|
      = f.error_notification

      .form-inputs
        = f.input :candidate_id, :as=> :hidden
        = f.input :job_id, :as=> :hidden
        = f.input :employee_type, :label=>'Contract Type', :as=>:radio_buttons, :collection => { 'Employee 1099'=>:employee_1099, 'Employee' => :employee }
        = f.fields_for :billable_periods do |b|
          = b.input :rate, :label => 'Hourly Rate - Customer', :hint=>'Cost of work per hour to charge the customer for this employee'
          = b.input :salary, :label => 'Hourly Salary - Employee', :hint=>'Amount to pay the employee per hour'
          = b.input :start_date, :as=> :date, :input_html=>input-mini{:class=>'input-small'}, :hint => 'When does the contract start and when is the hourly rate applicable from.'
        = f.input :timesheet_type, :as => :radio_buttons, :collection => ['Monthly', 'Weekly']

      .form-actions
        = f.button :submit


  .span4
    %small
      CANDIDATE
    .well
      .row
        .span1
          = link_to @contract.individual do
            %img{:src =>"http://critterapp.pagodabox.com/img/user.jpg"}
        .span2
          %p
            = link_to @contract.individual.name, @contract.individual


= link_to 'Back', contracts_path
