.row
  .span8
    %p#notice= notice
    %h1
      Contract # 
      =@contract.id
    %dl.dl-horizontal
      %dt
        %b Start date:
      %dd
        = @contract.contract_start_date
      %dt
        %b Contract Type:
      %dd
        = @contract.employee_type
      %dt
        %b Customer
      %dd
        = @contract.job.company.name
      %dt
        %b Payment Terms
      %dd
        = @contract.payment_terms.to_s + " Days"
    %h4
      Commission Details
    %table.table
      %tr
        %th
          Name
        %th
          Type
        %th
          Commission(Rate)
        %th
      - @contract.commissions.each do |commission|
        %tr
          %td
            =Individual.find(commission.individual_id).name
          %td
            - if commission.commission_type == 'Hourly'
              .label.label-inverse
                HOURLY
            - elsif commission.commission_type == 'Fixed'
              .label.label-info
                FIXED
            - elsif commission.commission_type == 'Monthly'
              .label.label-info
                MONTHLY
          %td
            - if commission.commission_type == 'Hourly'
              = commission.hourly_commission
            - elsif commission.commission_type == 'Fixed'
              = commission.fixed_commission
            - elsif commission.commission_type == 'Monthly'
              = commission.monthly_commission
    %h4
      Customer Details
    %table.table
      %tr
        %th
          Start Date
        %th
          End Date
        %th
          Sale Price
        %th
          Master Services Agreement
        %th
          Purchase Order
      - @contract.prices.each do |price|
        - if price.price_type == "Customer"
          %tr
            %td
              = price.start_date.to_date
            %td
              = price.end_date.to_date
            %td
              = price.sale_price
            - if price.master_services_agreement_url != nil
              %td
                = link_to price.master_services_agreement_url do
                  %i.icon.icon-arrow-down
            - if price.purchase_orders_url != nil
              %td
                = link_to price.purchase_orders_url do
                  %i.icon.icon-arrow-down
    -if @contract.employee_type == 'vendor_1099'
      %h4
        Vendor Details
      %table.table
        %tr
          %th
            Start Date
          %th
            End Date
          %th
            Cost Price
          %th
            Master Services Agreement
          %th
            Purchase Orders
          %th
            Non-Compete Agreement
        - @contract.prices.each do |price|
          - if price.price_type == "Vendor"
            %tr
              %td
                = price.start_date.to_date
              %td
                = price.end_date.to_date
              %td
                = price.cost_price
              - if price.master_services_agreement_url != nil
                %td
                  = link_to price.master_services_agreement_url do
                    %i.icon.icon-arrow-down
              - if price.purchase_orders_url != nil
                %td
                  = link_to price.purchase_orders_url do
                    %i.icon.icon-arrow-down
              - if price.non_compete_agreement_url != nil
                %td
                  = link_to price.non_compete_agreement_url do
                    %i.icon.icon-arrow-down
    -if @contract.employee_type == 'employee_w2'
      %h4
        Employee Details
      %table.table
        %tr
          %th
            Start Date
          %th
            End Date
          %th
            Cost Price
          %th
            Master Services Agreement
          %th
            Purchase Orders
        - @contract.prices.each do |price|
          - if price.price_type == "Employee"
            %tr
              %td
                = price.start_date.to_date
              %td
                = price.end_date.to_date
              %td
                = price.cost_price
              - if price.master_services_agreement_url != nil
                %td
                  = link_to price.master_services_agreement_url do
                    %i.icon.icon-arrow-down
              - if price.purchase_orders_url != nil
                %td
                  = link_to price.purchase_orders_url do
                    %i.icon.icon-arrow-down
    %h4
      Attachments
    %table.table
      %tr
        %th
          Name
        %th
          Attachment
      - @contract.attachments.each do |attachment|
        %tr
          %td
            = attachment.name
          %td
            = link_to attachment.attachment_url do
              %i.icon.icon-arrow-down

    = form_tag('/invoices/new', :method=>:get) do
      %h4
        Timesheet Details
      %table.table
        %tr
          %th
          %th
            TIMESHEET FOR PERIOD
          %th
            TIME LOGGED
          %th
          %th

        - @contract.timesheets.each do |timesheet|
          %tr{:class=> timesheet.invoiced?? 'success':''}
            %td
              - if timesheet.approved? && (current_user.has_role? :admin, current_tenant) then
                = check_box_tag 'tid[]', timesheet.id
            %td
              - if timesheet.type == 'WeeklyTimesheet' then
                .label.label-inverse
                  WEEKLY
                =timesheet.starts.to_date
                = '-'
                =timesheet.ends.to_date
              - else
                .label.label-info
                  MONTHLY
                =timesheet.starts.to_date.strftime("%B")
                =timesheet.starts.to_date.year
            %td
              =timesheet.minutes_in_hours
            %td
              - if timesheet.unapproved? then
                .label.label-info
                  UNAPPROVED
              - if timesheet.pending? then
                .label.label-warning
                  PENDING
              - if timesheet.approved? then
                .label.label-success
                  APPROVED
              - if timesheet.rejected? then
                .label.label-danger
                  REJECTED
              - if timesheet.invoiced? then
                .label.label-inverse
                  INVOICED
            %td
              = link_to 'Show', timesheet_path(timesheet)
      %p
        - if @contract.timesheets.collect(&:state).include?('approved') and current_user.has_role? :admin, current_tenant
          = submit_tag 'Invoice Selected Timesheets', :class=>'btn btn-primary btn-invoice'
    
        = link_to 'Enter Timesheet', new_timesheet_path(:contract_id=>@contract.id), :class=>'btn btn-success'

        = link_to 'View All Timesheets', contract_timesheets_path(:contract_id=>@contract.id), :class=>'btn'
    .row
      .span4
        %small
          TOTAL HOURS LOGGED
        %h2
          - minutes = @contract.timesheets.sum(:minutes) % 60
          - hours = @contract.timesheets.sum(:minutes) / (60)
          = format("%02d hours %02d minutes", hours, minutes )

      .span4
        %small
          TOTAL APPROVED HOURS LOGGED
        %h2
          - minutes = @contract.timesheets.are_approved_or_invoiced.sum(:minutes) % 60
          - hours = @contract.timesheets.are_approved_or_invoiced.sum(:minutes) / (60)
          = format("%02d hours %02d minutes", hours, minutes )


  .span4

    = render :partial=>'jobs/niblet', :locals=>{:job=>@contract.job}
    %hr
    = render :partial=>'documents/attachabot', :locals=>{:resource=>@contract}
    %hr
    = render :partial=>'individuals/niblet', :locals=>{:individual=>@contract.individual}
    = link_to 'Edit', edit_contract_path(@contract)
    \|
    = link_to 'Back', contracts_path

// :javascript
//   $('.btn-invoice').click(function(){
//     if($('#tid:checked').length = 0){
//       alert ("Please select atleast one approved timesheet first");
//     }
//   });