- content_for(:title) do
  - "Service Types"
  
%h3 Service Types

.row
  .span8
    %table.table.table-striped
      %tr
        %th 
          =sortable 'account_ref', 'ACCOUNT REF.' 
        %th
          =sortable 'desc', 'DESCRIPTION' 
        %th

      - @service_types.each do |service_type|
        %tr
          %td= service_type.account_ref
          %td= service_type.desc
          %td
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                Actions
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Show', service_type
                %li
                  = link_to 'Edit', edit_service_type_path(service_type)
                %li
                  = link_to 'Destroy', service_type, method: :delete, data: { confirm: 'Are you sure?' }
        
    = paginate @service_types if @service_types.any?


  .span4
    .well
      = link_to 'New Service type', new_service_type_path, :class=>'btn '