%p#notice= notice

%p
  %b Account Ref:
  = @service_type.account_ref
%p
  %b Description:
  = @service_type.desc
%p
  %b Preferred Vendor:
  = @service_type.get_prefered_contact_name

= link_to 'Edit', edit_service_type_path(@service_type)
\|
= link_to 'Back', service_types_path
