- if @contact.phone.count > 0
  %p
    %b
      Phone
    - @contact.phone.each do |one_phone|
      %div
        =one_phone[:details]
        %small
          ='('+one_phone[:location]+')'
        %br
- if @contact.fax.count > 0
  %p
    %b
      Fax
    - @contact.fax.each do |one_fax|
      %div
        =one_fax[:details]
        %small
          ='('+one_fax[:location]+')'
        %br
- if @contact.email.count > 0
  %p
    - @contact.email.each do |one_email|
      =mail_to one_email[:details], one_email[:details]
      %small
        ='('+one_email[:location]+')'
      %br
      

- if @contact.addresses.count > 0
  %p
    %b
      Address
    - @contact.addresses.each do |one_address|
      .adr
        %span.street-address
          =one_address.address
        %span.locality
          =one_address.city+', '
        %span.region
          =one_address.state+', '
        %span.postal-code
          =one_address.zip
        %span.country-name
          =one_address.country
        %small
          ='('+one_address[:location]+')'
      %br