.controls{:style=>'margin-bottom:5px;'}
  = f.input :type, :as=>:hidden
  = f.input_field :details,  :label=>false, :class=>'input-xlarge', :placeholder=>"Email Address"
  = f.input_field :location, :as=>:select, :collection=>['Work', 'Home'], :default=>'Work', :label=>false, :class=>'input-small', :placeholder=>"Email Number"
  = link_to_remove_fields "remove",f
