= simple_form_for(@contact_detail) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contact_type
    = f.input :location
    = f.input :details
    = f.input :contact_id

  .form-actions
    = f.button :submit
