.controls{:style=>'margin-bottom:5px;'}
  = f.input :type, :as=>:hidden
  = f.input_field :details,  :label=>false, :class=>'input-xlarge', :placeholder=>"Radio"
  = f.input_field :location, :as=>:select, :collection=>['Skype', 'MSN','Yahoo', 'GTalk','Facebook'], :default=>'Skype', :label=>false, :class=>'input-small'
  = link_to_remove_fields "remove",f
