.controls{:style=>'margin-bottom:5px;'}
  = f.input :type, :as=>:hidden
  = f.input_field :details,  :label=>false, :class=>'input-xlarge', :placeholder=>"Internet Messenger"
  = f.input_field :location, :as=>:select, :collection=>['Unicom Frequency'], :default=>'Unicom Frequency', :label=>false, :class=>'input-small'
  = link_to_remove_fields "remove",f
