%h1 Listing contact_details

%table
  %tr
    %th Contact type
    %th Location
    %th Details
    %th Contact
    %th
    %th
    %th

  - @contact_details.each do |contact_detail|
    %tr
      %td= contact_detail.contact_type
      %td= contact_detail.location
      %td= contact_detail.details
      %td= contact_detail.contact_id
      %td= link_to 'Show', contact_detail
      %td= link_to 'Edit', edit_contact_detail_path(contact_detail)
      %td= link_to 'Destroy', contact_detail, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Contact detail', new_contact_detail_path
