%p#notice= notice

%p
  %b Contact type:
  = @contact_detail.contact_type
%p
  %b Location:
  = @contact_detail.location
%p
  %b Details:
  = @contact_detail.details
%p
  %b Contact:
  = @contact_detail.contact_id

= link_to 'Edit', edit_contact_detail_path(@contact_detail)
\|
= link_to 'Back', contact_details_path
