= simple_form_for(@job,  :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    .row
      .span6
        = f.input :title, :input_html=>{:class=>'input-xlarge'}, :hint=>'Eg: Senior Programmer, Librarian?'
        = f.input :city, :hint=>'Location of the job - city'
        = f.input :state, :hint=>'Location of the job - state'
        = f.input :zip, :input_html=>{:class=>'input-small'}, :hint=>'Location of the job - Zip Code'
        = f.input :salary, :hint => 'eg. USD 30 per hour, USD 3000 per month etc'
        = f.input :start_date, :input_html=>{:class=>' input-small'}, :as=>:date
      .span6
        = f.input :duration, :input_html=>{:class=>''}, :hint=>'eg: 3 months, 6 months, Indefinite etc'
        = f.input :maximum_rate, :input_html=>{:class=>''}, :hint=>'Maximum applicable rate?'
        = f.input :job_type, :as => :select, :collection=>['Hire', 'Contract to Hire', 'Contract', 'Freelance'], :include_blank => false
        = f.input :openings, :as => :select, :collection =>1..20, :hint=>'Current number of openings', :include_blank => false
        = f.input :company_job_id, :label=>'Job Ref.', :hint=>'Reference for Job used internally'
  %hr    
  .row
    .span12
      / = f.association :recruiter, label_method: :name, value_method: :id, :hint=>'Who is the recruiter here from your team?'
      / = f.association :owner, label_method: :name, value_method: :id, :hint=>'Who is the owner of the job here from your team?'
      = f.association :company, :collection => @client_comp 
  %hr    
  .row
    .span12
      / = f.input :description, :input_html=>{:class=>'editor input-xxlarge'}
      = f.label :description
      = f.bootsy_area :description , :input_html=>{:class=>'editor input-xxlarge'}
  %br
  %br
  .row
    .span12
      = f.association :service_type, label_method: :desc, value_method: :id, :hint=>"*Hold ctrl and click to select multiple or to unselect"

  %hr
    .row
      .span12
        =f.input :status, :collection=>['Active', 'Full','OnHold','Upcoming','Canceled','Lead','Closed'], :include_blank => false
        =f.input :published, :label=>'Publish this to Portal?', :hint=>'Check if you need to publish this job entry to the portal'

  .form-actions
    = f.button :submit

:javascript
  $(function(){
    $('ul.wysihtml5-toolbar').attr('style', 'margin-left:178px !important;');
    $('iframe.wysihtml5-sandbox').attr('style', 'width:570px !important; margin-left:178px !important;');
  });
  