%tr
  %td
    = time_ago_in_words(job.start_date) + ' ago'
  %td
    = link_to job.title.to_s, job_path(job)
  %td
    = job.location
  %td
    = job.status

  %td.muted{:colspan=>3}
    = strip_tags(job.description.to_s[0,100])+'...'
    .btn-group.pull-right
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn btn-mini'}
        Actions
        %b.caret
      %ul.dropdown-menu
        - if current_user.has_role? :admin, current_tenant
          %li 
            = link_to 'Activate', set_job_status_to_active_path(job)
          %li 
            = link_to 'Deactivate', set_job_status_to_inactive_path(job)
          %li
            = link_to 'Edit', edit_job_path(job)
          %li
            = link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
        %li
          = link_to 'Show', job_path(job)