%tr
  %td
    = time_ago_in_words(job.start_date) + ' ago'
  %td
    = link_to job.title.to_s, view_job_path(job)
  %td
    = job.location
%tr
  %td.muted{:colspan=>3, :style=>'border-top:0px;'}
    = strip_tags(job.description.to_s[0,240])+'...'
  

