%small
  Job Details

%p
  %b
    = job.title
%hr
%dl.dl-horizontal
  %dt
    City:
  %dd
    = job.city
  %dt
    State:
  %dd
    = job.state
  %dt
    Zip:
  %dd
    = job.zip
  %dt
    Salary:
  %dd
    = job.salary
  %dt
    Start date:
  %dd
    = job.start_date
  %dt
    Duration:
  %dd
    = job.duration
  %dt
    Maximum rate:
  %dd
    = job.maximum_rate
  %dt
    Job type:
  %dd
    = job.job_type
  %dt
    Openings:
  %dd
    = job.openings
  %dt
    Company Job id:
  %dd
    = job.company_job_id
%p
  =link_to 'More Details', job 
 