- content_for(:title) do
  - "Job Listings"
%h3 Jobs
.row
  .span12
    .row
      .span9
        = form_tag jobs_path, :method => :get, :class => 'well form-inline' do
          %span
            = text_field_tag 'by_title', params[:by_title], :class => 'input-xxlarge', :placeholder=>'Search'
            = submit_tag 'Filter', :class=>'btn-info btn'
      .span3
        .well.form-inline
          - if current_user.has_role? :admin, @tenant then
            = link_to 'Add Job', new_job_path, :class=>'btn'
    .btn-toolbar
      .btn-group
        = link_to 'All', jobs_path, :class=>( ( params[:starts_with] == nil )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      .btn-group
        - "A".upto("Z") do |letter|
          = link_to letter, jobs_path(:starts_with => letter), :class=>( ( params[:starts_with] == letter )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      - if current_user.has_role? :admin, @tenant then
        = link_to jobs_path( params.merge({:format=>:csv})), :class=>'pull-right btn btn-mini' do
          %i.icon-share-alt
          Export to CSV

    %table.table.table-striped
      %thead
        %tr
          %th
            = sortable 'created_at', 'Posted On'
          %th
            = sortable 'title', 'Title'
          %th
            = 'Location'
          %th
            = 'Status'
          %th
            = 'Description'
      %tbody
        - @jobs.each do |job|
          = render 'job', :job=>job
    .pull-left
      = paginate @jobs if @jobs.any?
    .pull-right
      = page_entries_info @jobs

:javascript