- content_for(:title) do
  - "Job Listings"
%h3 Jobs
%h3.pull-right
  - if !user_signed_in?
    = link_to "Sign-Up", candidate_join_path, class: " btn"
    = link_to "Sign-In", new_user_session_path, class: " btn"
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th
            = 'Posted On'
          %th
            = 'Title'
          %th
            = 'Location'
      %tbody
        - @jobs.each do |job|
          = render 'job_list', :job=>job
    .pull-left
      = paginate @jobs if @jobs.any?
    .pull-right
      = page_entries_info @jobs

:javascript