%p#notice= notice
.row
  .span8
    %h2
      = @job.title
    %hr
    .row
      .span4
        %dl.dl-horizontal
          %dt
            City:
          %dd
            = @job.city
          %dt
            State:
          %dd
            = @job.state
          %dt
            Zip:
          %dd
            = @job.zip
          %dt
            Salary:
          %dd
            = @job.salary
          %dt
            Start date:
          %dd
            = @job.start_date
      .span4
        %dl.dl-horizontal
          %dt
            Duration:
          %dd
            = @job.duration
          %dt
            Maximum rate:
          %dd
            = @job.maximum_rate
          %dt
            Job type:
          %dd
            = @job.job_type
          %dt
            Openings:
          %dd
            = @job.openings
          %dt
            Company Job Ref:
          %dd
            = @job.company_job_id
    %hr
    .row
      .span8
        %dl.dl-horizontal
          %dt
            Published to Portal:
          %dd
            - if @job.published? then
              .badge.badge-success
                PUBLISHED
            - else
              .badge.badge-warning
                NOT PUBLISHED
          %dt
            Status:
          %dd
            = @job.status
        %legend
          Description
        =simple_format(@job.description)
        %legend
          Skills
        - @job.service_type.each do |st|
          = st.desc+','

    %hr
    .row
      .span8
        %h3
          Applications
        .pull-right
        - if current_user.has_role? :admin, current_tenant
          .btn-group
            %button{ 'data-toggle'=>"dropdown", 'class'=>"btn  dropdown-toggle"}
              %i.icon-user
              Add Candidate
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to 'New Candidate', new_candidate_path(:job_id=>@job.id)
              %li
                = link_to 'Existing Candidate', candidate_list_path(:job_id=>@job.id), :remote => true, :id=>'link-to-add-existing-candidate'
        - if @job.inquiries.count == 0 then
          .alert
            No applications for the job yet
        - else
          %table.table.table-striped
            %thead
              %tr
                %th
                  Candidate Name
                %th
                  Applied On
                %th
                  Account Email
                %th
                  CV
                %th
            %tbody
              - @job.inquiries.each do |inquiry|
                %tr
                  %td
                    =link_to inquiry.individual.name, inquiry.individual
                    - if inquiry.individual.is_hired_for_job(@job) then
                      .badge.badge-warning
                        HIRED

                  %td
                    = time_ago_in_words(inquiry[:updated_at]) + ' ago'
                  %td
                    =inquiry.individual.user.email
                  %td
                    - if inquiry.individual.cv_url then
                      = link_to inquiry.individual.cv_url do
                        %i.icon.icon-arrow-down
                  %td
                    .btn-group
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                        Actions
                        %b.caret
                      %ul.dropdown-menu
                        - if !inquiry.individual.is_hired_for_job(@job) and current_user.has_role? :admin, current_tenant
                          %li
                            = link_to 'Hire!', new_contract_path(:candidate_id=>inquiry.individual.id, :job_id=>@job.id,:company_id => @job.company_id)
                        %li
                          = link_to 'View', inquiry_path(inquiry)
            


  .span4  
    .pull-right
      = link_to 'Edit', edit_job_path(@job)
      \|
      = link_to 'Back', jobs_path

:javascript
  $(document).on('ajax:success', '#link-to-add-existing-candidate', function(evt, data, status, xhr){
    bootbox.dialog(xhr.responseText, { "label": "Cancel"});
  });