%p#notice= notice
.row
  .span2
  .span8
    .row
      .span8
        %h2
          = @job.title
        %hr
        .row
          .span4
            %dl.dl-horizontal
              %dt
                City:
              %dd
                = @job.city
              %dt
                State:
              %dd
                = @job.state
              %dt
                Zip:
              %dd
                = @job.zip
              %dt
                Salary:
              %dd
                = @job.salary
              %dt
                Start date:
              %dd
                = @job.start_date
          .span4
            %dl.dl-horizontal
              %dt
                Duration:
              %dd
                = @job.duration
              %dt
                Maximum rate:
              %dd
                = @job.maximum_rate
              %dt
                Job type:
              %dd
                = @job.job_type
              %dt
                Openings:
              %dd
                = @job.openings
              %dt
                Company Job id:
              %dd
                = @job.company_job_id
    .row
      .span8
        %legend
          Description
        =simple_format(@job.description)
        %legend
          Skills
        - @job.service_type.each do |st|
          = st.desc+','
          
    .row
      .span8
        - if current_user then
          - if current_user.has_role? :candidate, current_tenant
            / - @job.inquiries.each do |inquiry|
            /   - if inquiry.individual_id == current_user.individual.id
            /     - @already_applied =1
            /   - else
            /     - @already_applied = 0
            - if @check_applied == 1
              .well
                = link_to 'Back', portal_job_path, :class=>'btn'
            - else
              .well
                = link_to 'Apply', apply_job_path(@job), :class=>'btn-primary btn'
                = link_to 'Back', portal_job_path, :class=>'btn'
          - else
            .alert
              You cannot apply to this job - only a candidate can apply
        - else
          .well
            .btn-group
              %button{ 'data-toggle'=>"dropdown", 'class'=>"btn btn-primary dropdown-toggle"}
                Apply
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'New Candidates - Sign Up', candidate_join_path(:job_id=>@job.id, swap: 1)
                %li
                  = link_to 'Returning Candidates - Sign in', new_user_session_path
            = link_to 'Back', portal_job_path, :class=>'btn'
%script
  ='var JOB_ID = ' + @job[:id].to_s + ';'
:javascript
  $(function(){
    $(document).on('ajax:success', '#new_candidate_signup_login_form', function(evt, data, status, xhr){
      bootbox.dialog(xhr.responseText, { "label": "Cancel"});
    });

    $(document).on('ajax:success', 'form.candidate_register_form', function(evt, data, status, xhr){
      // redirect to the job
      alert(1);
      window.location = '/jobs/#{@job.id }/apply'
    });

    $(document).on('ajax:success', 'form.candidate_signin_form', function(evt, data, status, xhr){
      // redirect to the job
      window.location = '/jobs/'+JOB_ID+'/apply'
    });

  $(document).on('ajax:error', 'form', function(evt, data, status, xhr){

    try {
      // Populate errorText with the comment errors
      errors = $.parseJSON(data.responseText);
    } catch(err) {
      // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
      errors = {message: "Please reload the page and try again"};
    }
    {
      errorText = "There were errors with the submission:";
      for ( error in errors ) {
        elem = $(this).find('#user_'+error);
        $(elem[0]).parents('.control-group').first().addClass('error');
        $(elem[0]).parents('.controls').first().find('div').remove();
        $(elem[0]).parents('.controls').first().append('<div class="alert alert-error">'+errors[error][0]+'</div>')
      }
    }
  });


      $('.dropdown-toggle').dropdown()

  })


