= simple_form_for(@billable_period) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_date
    = f.input :end_date
    = f.input :rate
    = f.input :contract_id

  .form-actions
    = f.button :submit
