%h1 Listing billable_periods

%table
  %tr
    %th Start date
    %th End date
    %th Rate
    %th Contract
    %th
    %th
    %th

  - @billable_periods.each do |billable_period|
    %tr
      %td= billable_period.start_date
      %td= billable_period.end_date
      %td= billable_period.rate
      %td= billable_period.contract_id
      %td= link_to 'Show', billable_period
      %td= link_to 'Edit', edit_billable_period_path(billable_period)
      %td= link_to 'Destroy', billable_period, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Billable period', new_billable_period_path
