%p#notice= notice

%p
  %b Start date:
  = @billable_period.start_date
%p
  %b End date:
  = @billable_period.end_date
%p
  %b Rate:
  = @billable_period.rate
%p
  %b Contract:
  = @billable_period.contract_id

= link_to 'Edit', edit_billable_period_path(@billable_period)
\|
= link_to 'Back', billable_periods_path
