= simple_form_for(@sector, :html=>{:class=>' form-horizontal update_sector_form'}) do |f|
  %h3
    Edit Sector Details
  = f.error_notification
  .form-inputs
    .row
      .span4
        = f.input :date_on, :as=>:string, :label=>'Sector Date', :input_html =>{:class=>'datepicker', :readonly=>'true', :style=>'cursor:pointer;'}

        = f.input :flt_no, :label=>'Flight No.'
        = f.input :flt_load, :label=>'Flight Load'
        = f.input :flt_purpose, :label=>'Flight Purpose'
        = f.input :consignor, :label=>'Consignor'
        = f.input :consignee, :label=>'Consignee'
        = f.input :flt_crew_concise, :label=>'Flight Crew(Concise)'
        = f.input :flt_total_pax, :label=>'Total PAX'
        = f.input :lead_pax, :label=>'Lead PAX'
      .span4  
        = f.input :departure, :label=>'Departure Airport'
        = f.input :etd, :label=>'ETD'
        = f.input :arrival, :label=>'Arrival Airport'
        = f.input :eta, :label=>'ETA'

        = f.input :entry_point, :label=>'Entry Point'
        = f.input :entry_time, :label=>'Time of Entry'

        = f.input :exit_point, :label=>'Exit Point'
        = f.input :exit_time, :label=>'Time of Exit'

        = f.input :flt_route, :label=>'Flight Route'
        
    .row
      .span8
        %legend
          Further Details
        = f.input :flt_plan, :label=>'Flight Plan', :input_html=>{:class=>'span6', :rows=>5}
        = f.input :flt_crew_detailed, :label=>'Flight Crew(Detailed)', :input_html=>{:class=>'span6', :rows=>5}    

  .form-actions
    = f.button :submit
