= simple_form_for(@individual, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :salutation, :input_html=>{:class=>'input-mini'}
    = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :ind_email,  :label=>'Email', :class=>'input-xlarge', :placeholder=>"Email Address"
    = f.input :designation
    = f.input :company_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :company_id, :as=>:hidden

    %legend
      Tags
    %p
      Enter Tags seperated by commas
    = f.input :tags_as_text, :style=>'float:left;', :class=>'input-small'
    = f.input :tag_list, :as=>:hidden
    %legend
      Contact Information
    .control-group
      %label.control-label
        Phone
      = f.fields_for(:phone) do|builder|
        - render 'contact_details/phone_fields', :f => builder
          
      .controls
        = link_to_add_contact_detail_fields "Add a phone", f, :phone
    .control-group
      %label.control-label
        Fax
      = f.fields_for(:fax) do|builder|
        - render 'contact_details/fax_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add a fax", f, :fax
    .control-group
      %label.control-label
        Email
      = f.fields_for(:email) do|builder|
        - render 'contact_details/email_fields', :f => builder

      .controls
        = link_to_add_contact_detail_fields "Add an Email Address", f, :email


    .control-group
      %label.control-label
        Internet Messenger
      = f.fields_for(:im) do|builder|
        - render 'contact_details/im_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im
        
        
    .control-group
      %label.control-label
        Address
      = f.fields_for(:addresses) do|builder|
        - render 'contact_details/address_fields', :f => builder
      .controls
        = link_to_add_address_detail_fields "Add Address", f, :addresses
    %hr
    = f.input :about, :input_html=>{:class=>'input-xxlarge', :rows=>6}

  .form-actions
    = f.button :submit


:javascript
  tags_source = document.getElementById('individual_tag_list').value.split(',');

  jQuery('#individual_tags_as_text').tagsManager({ hiddenTagListName: 'individual[tag_list]',hiddenTagListId: 'individual_tag_list', prefilled:tags_source, typeahead: true, preventSubmitOnEnter: true });    
  // set up autocomplete for customer name
  $( "#individual_company_name" ).autocomplete({
      source: "/contacts/search",  
      minLength: 1,
      focus: function( event, ui ) {
        $(this).val($(this).val());
        
        return false;
      },
      select: function(event, ui) {
        if (ui.item.id == 0){
          $('#individual_company_id').val('');
          return false;
        }else{
          $('#individual_company_name').val(ui.item.name);
        }
        $('#individual_company_id').val(ui.item.id);
        return false;
      },
      response: function( event, ui ) { ui.content.push()},
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + item.name + "</a>" )
          .appendTo( ul );
  };