%small
  CANDIDATE

%p
  %h4
    = individual.salutation
    = individual.first_name
    = individual.last_name
%p
  = individual.designation
  - if individual.company != nil then
    at
    =  link_to individual.company_name, individual.company
%p
  =link_to 'More Details', individual

