%h1 Listing individuals

%table
  %tr
    %th First name
    %th Last name
    %th About
    %th Designation
    %th Salutation
    %th Company
    %th
    %th
    %th

  - @individuals.each do |individual|
    %tr
      %td= individual.first_name
      %td= individual.last_name
      %td= individual.about
      %td= individual.designation
      %td= individual.salutation
      %td= individual.company_id
      %td= link_to 'Show', individual
      %td= link_to 'Edit', edit_individual_path(individual)
      %td= link_to 'Destroy', individual, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Individual', new_individual_path
