- content_for(:title) do
  - "Individual::"+@individual.first_name

.row
  .span8
    %h3
      = @individual.salutation
      = @individual.first_name
      = @individual.last_name
    %p
      = @individual.designation
      - if @individual.company != nil then
        at
        =  link_to @individual.company_name, @individual.company
    - @resource = @individual
    = render 'layouts/generic_comments_audits'
  .span4
    .well
      = link_to 'Edit', edit_individual_path(@individual), :class=>'btn'
      = link_to 'Back', contacts_path, :class=>'btn'

    - @contact = @individual
    = render :partial=>'contact_details/contact_details', :local=>{:contact=>@individual}
    
    - if !@individual.about.blank? then
      %hr
      %p
        %b 
          ='About Me'
      = @individual.about
    - if @individual.inquiries.count > 0
      %b
        Training Applied To
      %table.table
        - @individual.inquiries.each do |inquiry|
          - if inquiry.training_id != nil and inquiry.job_id == nil
            %tr
              %td
                = link_to inquiry.training.title, inquiry.training
              %td
                = 'applied '+ time_ago_in_words(inquiry.updated_at) + ' ago'
      %b
        Jobs Applied To
      %table.table
        - @individual.inquiries.each do |inquiry|
          - if inquiry.training_id == nil and inquiry.job_id != nil
            %tr
              %td
                = link_to inquiry.job.title, inquiry.job
              %td
                = 'applied '+ time_ago_in_words(inquiry.updated_at) + ' ago'

