%h2
  Change Password
= simple_form_for(@user, :url=>update_password_user_path(@user), :html => { :method => :post, :class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors @user
  = f.input :password, :autocomplete => "off", :required => true
  = f.input :password_confirmation, :required => true
  = f.input :id, :as=>:hidden, :required => true
  = f.button :submit, 'Update', :class => 'btn-primary'
= link_to "Back", :back
