%h2
  Edit #{@user.name.to_s}
= simple_form_for(@user, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors @user
  = f.input :name, :autofocus => true
  = f.input :username, :required => true  
  = f.input :email, :required => true
  = f.button :submit, 'Update', :class => 'btn-primary'