- content_for(:title) do
  - "Users"

.pull-right
/ - if current_user.has_role? :admin, @tenant then
/   =link_to 'New User', new_user_path, {:class=>'btn'}
%h3 Users
.row
  .span12
    %table.table
      %thead
        %tr
          %th Username
          %th Email
          %th Role
          %th Created At
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.username, user
            %td= user.email
            %td= user.roles.first.name.titleize unless user.roles.first.nil?
            %td= user.created_at
            %td
              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
              = render user
            %td
              = link_to("Edit", edit_user_path(user), :class => 'btn btn-mini')
              = link_to("Change Password", change_password_user_path(user), :class => 'btn btn-mini')
              = link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user