%h2 New User
= simple_form_for(@user,:url => users_path(@user), :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors @user
  = f.input :name, :autofocus => true
  = f.input :username, :required => true
  = f.input :email, :required => true
  = f.input :password, :required => true
  
  = f.button :submit, 'Save', :class => 'btn-primary'
