- aircraft_list_view_css = ''
- if @operator.aircrafts.count == 0 then
  - aircraft_list_view_css = 'display:none;'
  .hero-unit#no-aircrafts-message
    %h1
      No Aircrafts

%table.table.table-striped#operators-aircrafts-list{:style=>aircraft_list_view_css}
  %thead
    %tr
      %th Aircraft Registration
      %th Aircraft Type
      %th MTOW
      %th
  %tbody
  - @operator.aircrafts.each do |aircraft|
    - @aircraft = aircraft
    = render 'operators/one_aircraft'