= simple_form_for(@operator, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :company_name, :input_html=>{:class=>'input-xxlarge'}
    = f.input :website
    %legend
      Contact Information
    .control-group
      %label.control-label
        Phone
      = f.fields_for(:phone) do|builder|
        - render 'contact_details/phone_fields', :f => builder
          
      .controls
        = link_to_add_contact_detail_fields "Add a phone", f, :phone
    .control-group
      %label.control-label
        Fax
      = f.fields_for(:fax) do|builder|
        - render 'contact_details/fax_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add a fax", f, :fax
    .control-group
      %label.control-label
        Email
      = f.fields_for(:email) do|builder|
        - render 'contact_details/email_fields', :f => builder

      .controls
        = link_to_add_contact_detail_fields "Add an Email Address", f, :email

    .control-group
      %label.control-label
        Type B
      = f.fields_for(:typeb) do|builder|
        - render 'contact_details/typeb_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Type B", f, :typeb

    .control-group
      %label.control-label
        AFTN
      = f.fields_for(:aftn) do|builder|
        - render 'contact_details/aftn_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add an AFTN", f, :aftn


    .control-group
      %label.control-label
        Internet Messenger
      = f.fields_for(:im) do|builder|
        - render 'contact_details/im_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im
        
    .control-group
      %label.control-label
        Radio
      = f.fields_for(:radio) do|builder|
        - render 'contact_details/radio_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Radio", f, :radio
        
    .control-group
      %label.control-label
        ICAO
      = f.fields_for(:icao) do|builder|
        - render 'contact_details/icao_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add ICAO", f, :icao
        
    .control-group
      %label.control-label
        Address
      = f.fields_for(:addresses) do|builder|
        - render 'contact_details/address_fields', :f => builder
      .controls
        = link_to_add_address_detail_fields "Add Address", f, :addresses
    %hr
    = f.input :description, :input_html=>{:class=>'input-xxlarge', :rows=>6}

  .form-actions
    = f.button :submit
