%h3 Operators

.row
  .span8
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th
        - @operators.each do |operator|
          %tr
            %td= operator.name
            %td
              .btn-group
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                  Actions
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Show', operator
                  %li
                    =link_to 'Edit', edit_operator_path(operator)
                  %li
                    = link_to 'Destroy', operator, method: :delete, data: { confirm: 'Are you sure?' }
  .span4
    = link_to 'New Operator', new_operator_path, {:class=>'btn btn-large'}
%br


