- content_for(:title) do
  -@operator[:name]+ " - Operator"
%h1
  = @operator.name
.row
  .span8
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{'href'=>"#profile", 'data-toggle'=>"tab"}
            Profile
        %li
          %a{'href'=>"#aircrafts", 'data-toggle'=>"tab"}
            Aircrafts
      .tab-content
        #profile.tab-pane.active
          %p
            Profile
        #aircrafts.tab-pane
          - if @operator.aircrafts.count >0 then
            = render "operators/aircrafts-list"
          - else
            .hero-unit
              %h1
                No Aircrafts 
          
    #aircrafts-form-holder.modal.hide.fade{:role=>"dialog"}
      .modal-header
        %button.close{ :type=>"button", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
          ×
        %h3
          Add Aircraft
      .modal-body
        =render 'aircrafts/form_for_operator'

  .span4
    = link_to 'Edit', edit_operator_path(@operator), {:class=>'btn'}
    = link_to 'Back', operators_path, {:class=>'btn'}
    %a#link-to-add-aircraft-to-operator.btn
      Add an aircraft
    %hr
    - @contact = @operator
    = render :partial=>'contact_details/contact_details'

  
:javascript
  $('#link-to-add-aircraft-to-operator').click(function(){
    $('#aircrafts-form-holder').modal();
  });
  
  $(document).on('ajax:success', '#aircrafts-form-holder form', function(evt, data, status, xhr){
    $('#operators-aircrafts-list tbody').append(xhr.responseText);
    $('#aircrafts-form-holder').find('button.close').click();
  })
  .on("ajax:error", '#aircrafts-form-holder form', function(evt, xhr, status, error){

    try {
      // Populate errorText with the comment errors
      errors = $.parseJSON(xhr.responseText);
    } catch(err) {
      // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
      errors = {message: "Please reload the page and try again"};
    }
    errorText = "There were errors with the submission:";
    for ( error in errors ) {
      
      
      elem = $(this).find('#aircraft_'+error);
      $(elem[0]).parents('.control-group').first().addClass('error');
      $(elem[0]).first().append('<span>'+errors[error][0]+'</span>')
    }

  });;
  
