%h1 Please Confirm your contact details
%p
  Hello, and thank you for taking the time out to help us make sure that our records of your contact information is up to date. Just go over the form below and if you note any thing that needs to be updated just make the changes and submit the form.
%p
  %b
    Note:
  Don't worry, this form can only be accessed by you until you click the submit button - your contact details are safe with us and no unauthorised users can access your details.

= simple_form_for(@individual, :url=>update_client_individual_details_path, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :salutation, :input_html=>{:class=>'input-mini'}
    = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :designation
    = f.input :company_name, :input_html=>{:class=>'input-xlarge'}
    = f.input :company_id, :as=>:hidden
    = f.input :id, :as=>:hidden
    %legend
      Contact Information
    .control-group
      %label.control-label
        Phone
      = f.fields_for(:phone) do|builder|
        - render 'contact_details/phone_fields', :f => builder
          
      .controls
        = link_to_add_contact_detail_fields "Add a phone", f, :phone
    .control-group
      %label.control-label
        Fax
      = f.fields_for(:fax) do|builder|
        - render 'contact_details/fax_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add a fax", f, :fax
    .control-group
      %label.control-label
        Email
      = f.fields_for(:email) do|builder|
        - render 'contact_details/email_fields', :f => builder

      .controls
        = link_to_add_contact_detail_fields "Add an Email Address", f, :email

    .control-group
      %label.control-label
        Type B
      = f.fields_for(:typeb) do|builder|
        - render 'contact_details/typeb_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Type B", f, :typeb

    .control-group
      %label.control-label
        AFTN
      = f.fields_for(:aftn) do|builder|
        - render 'contact_details/aftn_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add an AFTN", f, :aftn

    .control-group
      %label.control-label
        Internet Messenger
      = f.fields_for(:im) do|builder|
        - render 'contact_details/im_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im
        
    .control-group
      %label.control-label
        Radio
      = f.fields_for(:radio) do|builder|
        - render 'contact_details/radio_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Radio", f, :radio
        
    .control-group
      %label.control-label
        ICAO
      = f.fields_for(:icao) do|builder|
        - render 'contact_details/icao_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add ICAO", f, :icao
        
    .control-group
      %label.control-label
        Address
      = f.fields_for(:addresses) do|builder|
        - render 'contact_details/address_fields', :f => builder
      .controls
        = link_to_add_address_detail_fields "Add Address", f, :addresses
    %hr
    = f.input :about, :input_html=>{:class=>'input-xxlarge', :rows=>6}

  .form-actions
    = f.button :submit

    
:javascript
  // set up autocomplete for customer name
  $( "#individual_company_name" ).autocomplete({
      source: "/contacts/search",  
      minLength: 2,
      focus: function( event, ui ) {
        $(this).val($(this).val());
        
        return false;
      },
      select: function(event, ui) {
        if (ui.item.id == 0){
          $('#individual_company_id').val('');
          return false;
        }else{
          $('#individual_company_name').val(ui.item.name);
        }
        $('#individual_company_id').val(ui.item.id);
        return false;
      },
      response: function( event, ui ) { ui.content.push({id:'0',name:'Add a new Company?'})},
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + item.name + "</a>" )
          .appendTo( ul );
  };