%h1 Please Confirm your contact details
%p
  Hello, and thank you for taking the time out to help us make sure that our records of your contact information is up to date. Just go over the form below and if you note any thing that needs to be updated just make the changes and submit the form.
%p
  %b
    Note:
  Don't worry, this form can only be accessed by you until you click the submit button - your contact details are safe with us and no unauthorised users can access your details.

= simple_form_for(@company, :url=>update_client_contact_details_path, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company_name, :input_html=>{:class=>'input-xxlarge'}
    = f.input :website
    = f.input :id, :as=>:hidden
    = f.input :twenty_four_ops
    = f.input :timezone, :as=>:time_zone
    %legend
      Contact Information
    .control-group
      %label.control-label
        Phone
      = f.fields_for(:phone) do|builder|
        - render 'contact_details/phone_fields', :f => builder
          
      .controls
        = link_to_add_contact_detail_fields "Add a phone", f, :phone
    .control-group
      %label.control-label
        Fax
      = f.fields_for(:fax) do|builder|
        - render 'contact_details/fax_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add a fax", f, :fax
    .control-group
      %label.control-label
        Email
      = f.fields_for(:email) do|builder|
        - render 'contact_details/email_fields', :f => builder

      .controls
        = link_to_add_contact_detail_fields "Add an Email Address", f, :email

    .control-group
      %label.control-label
        Type B
      = f.fields_for(:typeb) do|builder|
        - render 'contact_details/typeb_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Type B", f, :typeb

    .control-group
      %label.control-label
        AFTN
      = f.fields_for(:aftn) do|builder|
        - render 'contact_details/aftn_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add an AFTN", f, :aftn

    .control-group
      %label.control-label
        Internet Messenger
      = f.fields_for(:im) do|builder|
        - render 'contact_details/im_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im
        
    .control-group
      %label.control-label
        Radio
      = f.fields_for(:radio) do|builder|
        - render 'contact_details/radio_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Radio", f, :radio
        
    .control-group
      %label.control-label
        ICAO
      = f.fields_for(:icao) do|builder|
        - render 'contact_details/icao_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add ICAO", f, :icao
        
    .control-group
      %label.control-label
        Address
      = f.fields_for(:addresses) do|builder|
        - render 'contact_details/address_fields', :f => builder
      .controls
        = link_to_add_address_detail_fields "Add Address", f, :addresses
    %legend
      Services
      
    .control-group
      = f.association :service_types, :collection=>ServiceType.all.map { |r| [r.desc, r.id] }, :input_html=>{:class=>'input-xxlarge', :style=>'height:350px;'}, :hint=>'What services do you provide, select all that apply'
    %hr
    = f.input :description, :input_html=>{:class=>'input-xxlarge', :rows=>6}, :hint=>'Tell us a bit about the company'

  .form-actions
    = f.button :submit

    
:javascript
