- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "app_wide/cards"
%h1 Upgrade to Pro Account Now
= simple_form_for(@resource, :url => payment_processing_path, :method => 'post',:html => {:class => 'form-vertical',:id => 'new_user' }) do |f|
  %fieldset
    = f.error_notification
    = display_base_errors @resource
    = f.input :id, as: :hidden
    = f.input :stripe_card_token, as: :hidden
    %br
    = label_tag :card_number, 'Credit Card Number:'
    = text_field_tag :card_number, nil, name: nil
    = label_tag :card_code, "Security Code on Card (CVV):"
    = text_field_tag :card_code, nil, name: nil, maxlength: 3
    = label_tag :card_month, "Card Expiration:"
    = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
    = select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"}
    %br
    = f.button :submit, 'Upgrade Now', :class => 'btn-primary'
