%h3 Your accounts
%br
- @tenants.each do |tenant|
  - if current_user.has_role? :candidate, tenant
    = link_to tenant.company, root_url(subdomain: tenant.subdomain), class: 'btn btn-large btn-primary'
  %br
