%h3 Welcome
.row
	%b.span9
	%b.span3
		%h3 Recent Open Jobs
		%ul{style: 'list-style:none;'}
			- if @jobs.count > 0
				- @jobs.each do |job|
					%li
						= link_to job.title.to_s, job_path(job)
			- else
				No jobs available
		%h3 Upcoming Trainings
		%ul{style: 'list-style:none;'}
			- if @train.count > 0
				- @train.each do |t|
					%li
						= link_to t.title, training_path(id: t.id)
			- else
				No trainings available
