=@vendor_request[:body]

THANK YOU!
Best regards,
= @current_user.name
Operations Supervisor

RamJet Aviation Support
401A BC4 RAK Free Zone
P.O. Box 11487, RAK, U.A.E

Tel +971 7 227 8808
Fax +971 7 207 7600
Ops Direct Tel +971 7 2077700
24HRS +971 50 50 15 707
ops@ramjet.aero
RKTRJXH - KMRKRJET
www.ramjet.aero