!!!
%html
  %head
    %meta{:content=>"text/html; charset=UTF-8", :'http-equiv'=>"Content-Type"}
  %body{:style=>'font-family:monospace; font-size:14px;;background-color:white; padding:0px;border:0px;' }
    = raw('<div>'+simple_format(@vendor_request.get_formatted_body)+'</div>')

    %p{:style=>'font-family:monospace;font-size:14px;'}
      THANK YOU!
    %p{:style=>'font-family:monospace;font-size:14px;'}
      Best regards,
      %br
      = @current_user.name
      %br
      Operations Supervisor
      %br
      %br
      RamJet Aviation Support
      %br
      401A BC4 RAK Free Zone
      %br
      P.O. Box 11487, RAK, U.A.E
      %br
      %br
      Tel +971 7 227 8808
      %br
      Fax +971 7 207 7600
      %br
      Ops Direct Tel +971 7 2077700
      %br
      24HRS +971 50 50 15 707
      %br
      ops@ramjet.aero
      %br
      RKTRJXH - KMRKRJET
      %br
      =link_to 'www.ramjet.aero', 'www.ramjet.aero'
      %p
        %img{:src=>'http://www.fltctr.com/assets/email-logo.jpg'}
      
      %p
        %table{:cellspacing=>4, :border=>0}
          %tr
            %td
              = link_to 'http://www.twitter.com/ramjetaviation' do
                %img{:src=>'http://www.fltctr.com/assets/twitter.png'}
            %td
              = link_to 'http://www.facebook.com/pages/RamJet-Aviation-Support/125337997528737' do
                %img{:src=>'http://www.fltctr.com/assets/facebook.png'}
            %td
              = link_to 'http://goo.gl/4lwPp' do
                %img{:src=>'http://www.fltctr.com/assets/map.png'}
            %td
              = link_to 'http://goo.gl/fPpxz' do
                %img{:src=>'http://www.fltctr.com/assets/google-plus.jpg'}
            %td
              = link_to 'http://pinterest.com/ramjetaviation/' do
                %img{:src=>'http://www.fltctr.com/assets/pinterest.png'}
      %p
        - dateTime = Time.new
        - timestamp = dateTime.to_time.to_i
        %img{:src=>'http://www.ramjet.aero/emailers.jpg?rand='+timestamp.to_s}
      %p
        %small
          Help Earth don’t print this email. Confidentiality Notice: If you are not the proposed addressee of this message then any distribution or usage of this communiqué is strictly illegal. If received in error, please delete this message. All information is subject to change without notice. We use antivirus but we cannot accept liability for any loss or damage caused by viruses. 

     