ATTN: 
=@request.customer.name

REF : REQUEST 
=@request.ref

- @request.sectors.each do|one_sector|
  = one_sector.desc
  
  - one_sector.services.each do|service|
    = service.service_type.desc + '      ' + service.service_status.to_s.capitalize
    - if !service.details.blank? then
      = service.details
    - if !service.notes.blank? then
      = service.notes

NOTES:

- @request.comments.visible_to_client do |comment|
  = comment.comment
  

THIS IS A STATUS UPDATE GRANTED FOR THE FOLLOWING FLIGHT:

OPERATOR: 
= @request.operator.name

A/C TYPE: 
= @request.aircraft.ac_type

A/C REGN:
= @request.aircraft.ac_reg

SCHEDULE: ALL TIMES UTC  

- @request.sectors.each do|one_sector|
  ='          '+one_sector.desc.to_s
  

THANK YOU FOR YOUR BUSINESS. SAFE FLIGHT!


Best regards,

=@current_user.name

Operations Supervisor