!!!
%html
  %head
    %meta{:content=>"text/html; charset=UTF-8", :'http-equiv'=>"Content-Type"}
  %body{:style=>'font-family:monospace; font-size:12px;'}
    .body{:style=>'font-family:monospace;font-size:14px; font-size:12px;'}
      %div{:style=>'font-family:monospace;font-size:14px;width:500px;'}
      %p
        %table{:cellpadding=>0, :cellspacing=>2, :border=>0, :style=>'font-family:monospace;font-size:14px;border:0px;'}
          %tr
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              Attention 
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              =': '+@request.customer.name
          %tr
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              Request REF
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              =': '+@request.ref
          %tr
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              Request Date
            %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
              =': '+@request.date_of_request.to_s
      %p{:style=>'font-family:monospace;font-size:14px;'}
        Following is an update on your request

      %table{:cellpadding=>0, :cellspacing=>2, :border=>0, :style=>'font-family:monospace;font-size:14px;border:0px;'}
        %tr
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            OPERATOR 
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            =': '+@request.operator.name
        %tr
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            A/C TYPE
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            =': ' + @request.aircraft.ac_type.to_s
        %tr
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            A/C REGN
          %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
            =': '+@request.aircraft.ac_reg.to_s
      %br
      %div{:style=>'font-family:monospace;font-size:14px;'}
        %b
          DETAILED REPORT
      - @request.sectors.each do |sector|
        %div{:style=>'font-family:monospace;font-size:14px;'}
          %br
          %b
            SECTOR: 
            =sector.desc
          %table{:cellpadding=>3, :cellspacing=>2,:border=>0, :style=>'font-family:monospace;font-size:14px;border:0px;'}
            - sector.services.each do|service|
              %tr
                - case service.service_status
                  - when 'new'
                    %td{:style=>'background-color:#3A87AD; color:#FFFFFF; font-family:monospace;font-size:14px;border:0px;display:block; font-weight:bold; width:75px;font-size:12px;padding:3px 5px 3px 5px;width:75px;'}
                      NEW
                  - when 'pending'
                    %td{:style=>'background-color:#F89406; color:#FFFFFF; font-family:monospace;font-size:14px;border:0px;padding:3px 5px 3px 5px; display:block; font-weight:bold; width:75px;font-size:12px;width:75px;'}
                      PENDING
                  - when 'cancelled'
                    %td{:style=>'background-color:red; color:#FFFFFF; font-family:monospace;font-size:14px;border:0px; padding:3px 5px 3px 5px; font-weight:bold;  display:block;width:75px;font-size:12px;width:75px;'}
                      CANCEL
                  - when 'done'
                    %td{:style=>'background-color:green; color:#FFFFFF; font-family:monospace;font-size:14px;border:0px;font-weight:bold; padding:3px 5px 3px 5px; display:block;width:75px;font-size:12px;width:75px;'}
                      DONE
                  - when 'stalled'
                    %td{:style=>'background-color:#666666; color:#FFFFFF;font-family:monospace;font-size:14px;border:0px; font-weight:bold; width:75px;font-size:12px;padding:3px 5px 3px 5px; display:block;width:75px;'}
                      STALLED
                  - else
                    %td
                %td{:style=>'font-family:monospace;font-size:14px;border:0px;'}
                  = service.service_type.desc
                %td
                  - if !service.details.blank? then
                    ='- '+service.details
                %td
                  - if !service.notes.blank? then
                    ='- '+service.notes
      - if @request.comments.visible_to_client.count > 0 then
        %p{:style=>'font-family:monospace;font-size:14px;'}
          %b
            NOTES:
        %ul
          - @request.comments.visible_to_client.each do |comment|
            %li{:style=>'font-family:monospace;font-size:14px;'}
              %p{:style=>'font-family:monospace;font-size:14px;'}
                =simple_format(comment.comment)
      %p{:style=>'font-family:monospace;font-size:14px;'}
        THANK YOU FOR YOUR BUSINESS. SAFE FLIGHT!
      %p{:style=>'font-family:monospace;font-size:14px;'}
        Best regards,
        %br
        = @current_user.name
        %br
        Operations Supervisor
        %br
        %br
        RamJet Aviation Support
        %br
        401A BC4 RAK Free Zone
        %br
        P.O. Box 11487, RAK, U.A.E
        %br
        %br
        Tel +971 7 227 8808
        %br
        Fax +971 7 207 7600
        %br
        Ops Direct Tel +971 7 2077700
        %br
        24HRS +971 50 50 15 707
        %br
        ops@ramjet.aero
        %br
        RKTRJXH - KMRKRJET
        %br
        =link_to 'www.ramjet.aero', 'www.ramjet.aero'
        %p
          %img{:src=>'http://www.fltctr.com/assets/email-logo.jpg'}
        
        %p
          %table{:cellspacing=>4, :border=>0}
            %tr
              %td
                = link_to 'http://www.twitter.com/ramjetaviation' do
                  %img{:src=>'http://www.fltctr.com/assets/twitter.png'}
              %td
                = link_to 'http://www.facebook.com/pages/RamJet-Aviation-Support/125337997528737' do
                  %img{:src=>'http://www.fltctr.com/assets/facebook.png'}
              %td
                = link_to 'http://goo.gl/4lwPp' do
                  %img{:src=>'http://www.fltctr.com/assets/map.png'}
              %td
                = link_to 'http://goo.gl/fPpxz' do
                  %img{:src=>'http://www.fltctr.com/assets/google-plus.jpg'}
              %td
                = link_to 'http://pinterest.com/ramjetaviation/' do
                  %img{:src=>'http://www.fltctr.com/assets/pinterest.png'}
        %p
          - dateTime = Time.new
          - timestamp = dateTime.to_time.to_i
          %img{:src=>'http://www.ramjet.aero/emailers.jpg?rand='+timestamp.to_s}
        %p
          %small
            Help Earth don’t print this email. Confidentiality Notice: If you are not the proposed addressee of this message then any distribution or usage of this communiqué is strictly illegal. If received in error, please delete this message. All information is subject to change without notice. We use antivirus but we cannot accept liability for any loss or damage caused by viruses. 

       