%tr
  %td
    - if current_user.has_role? :admin, @tenant then
      =check_box_tag 'contact_ids[]', contact[:id], false, :class=>'toggle_check_ids'
    - else
      =''
  %td
    = link_to contact.name, company_path(contact)
  %td
    - if contact.has_individuals?  then
      .label.label-inverse{:title=>contact.num_individuals.to_s+' individual(s) work here'}
        %i.icon-user.icon-white
        =contact.num_individuals.to_s
  %td
    = contact.first_phone
  %td
    = contact.first_email
  %td
    = time_ago_in_words(contact[:updated_at]) + ' ago'
  %td
    .send-mail-update-contact-status-container
      - if !contact[:token].blank? then
        = render 'contacts/pending_client_update_nubbin'
  %td
    .btn-group
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
        Actions
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'Show', company_path(contact)
        %li
          = link_to 'Edit', edit_company_path(contact)
        %li
          = link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }
        %li
          = link_to send_form_for_requesting_update_path(contact), :remote=>true, :class=>'client-form-update-request' do
            %span.hide-under-hidden
              %i.icon-envelope
              Request Update?
            %span.is-hidden
              Please wait...
/ :javascript
/   $(function(){
/     $('#contact_ids_').click(function(){
/       if(this.checked == true){
/         $('.toggle_check_ids').prop('checked', true);
/         alert('checked to true');
/         / var val = $('.toggle_check_ids').prop("value"));
/         / $.ajax('contacts_path?data=val',{
/         $.ajax('contacts_path?data=this.value',{
/           / data: {email: this.value}
/           type: 'POST'
/         }).done(function () {
/           alert('ajax is done to send the value');
/         });
/       }else{
/         $('.toggle_check_ids').prop('checked', false);
/       }
/     });
/   });