= simple_form_for(@contact) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :about
    = f.input :contact_type, :collection => [:company, :person], :as => :radio_buttons

  .form-actions
    = f.button :submit
