%tr
  %th
    - if current_user.has_role? :admin, @tenant then
      =check_box_tag 'contact_ids[]', contact[:id], false, :class=>'toggle_check_ids'
    - else
      =''
  %th
    = link_to contact.salutation.to_s + ' ' + contact.name.to_s, individual_path(contact)
  %td
    = contact.designation
    - if contact.company != nil
      = 'at '
      = link_to contact.company_name, contact.company
  %td
    
  %td
    = #contact.first_email
  %td
    = time_ago_in_words(contact[:updated_at]) + ' ago'
  %td
    .send-mail-update-contact-status-container
      - if !contact[:token].blank? then
        = render 'contacts/pending_client_update_nubbin'
  %td
    .btn-group
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
        Actions
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'Show', individual_path(contact)
        %li
          = link_to 'Edit', edit_individual_path(contact)
        %li
          = link_to send_form_for_requesting_update_path(contact), :remote=>true, :class=>'client-form-update-request' do
            %span.hide-under-hidden
              %i.icon-envelope
              Request Update?
            %span.is-hidden
              Please wait...
        %li
          = link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }