%tr
  %td{:colspan=>4}
    .row
      .span8
        .pull-right
          .btn-group
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
              Actions
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Show', operator_path(contact)
              %li
                = link_to 'Edit', edit_operator_path(contact)
              %li
                = link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }
              %li
                = link_to send_form_for_requesting_update_path(contact), :remote=>true, :class=>'client-form-update-request' do
                  %span.hide-under-hidden
                    %i.icon-envelope
                    Request Update?
                  %span.is-hidden
                    Please wait...

        %h4
          = link_to contact.company_name, operator_path(contact)
          %span.label.label-info
            =contact[:type]
        .row
          .span8
            %span2
              = contact.aircrafts.count
              aircraft(s)
            %span2
              = contact.requests_as_operator.count
              request(s) operated
            %span2
              = contact.requests_as_customer.count
              request(s) requested
            %br
            - if contact.phone.count > 0
              %small
                %b
                  Phone:
                =contact.phone.map{ |r| [r.details] }.join(' / ')
            - if contact.email.count > 0
              %small
                %b
                  Email
                =contact.email.map{ |r| [r.details] }.join(' / ')
          .pull-right
            %small
              Updated 
              = time_ago_in_words(contact[:updated_at]) + ' ago'
            .send-mail-update-contact-status-container
              - if !contact[:token].blank? then
                = render 'contacts/pending_client_update_nubbin'
            
          