- content_for(:title) do
  - "Contacts"
%h3 Contacts
.row
  .span12
    .row
      .span9
        = form_tag contacts_path, :method => :get, :class => 'well form-inline' do
          %span
            = text_field_tag 'by_name', params[:by_name], :class => 'input-xlarge', :placeholder=>'By Name'
            = select_tag 'by_type', options_for_select(["Company","Individual"]), :prompt => "All", :class => 'input-small', :placeholder=>'Type', :default => params[:by_type]
            = select_tag 'by_company_type', options_for_select(["Vendor","Client"]), :prompt => "All", :class => 'input-small', :placeholder=>'Company_Type', :default => params[:by_company_type]
            = select_tag 'by_services', options_for_select(ServiceType.all.map{ |r| [r.desc, r.id] }), :multiple=>true, :class => 'span3 multiselect', :style=>'display:none;height:200px', :placeholder=>'Services Provided?'
            = submit_tag 'Filter', :class=>'btn-info btn button-color'
      .span3
        .well.form-inline
          - if current_user.has_role? :admin, @tenant then
            %ul.nav
              %li.dropdown
              .btn-group
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown",:href=>"javascript:void(0)"}
                  Import Contacts 
                  %strong.caret
                %ul.dropdown-menu{:style=>"padding: 15px; padding-bottom: 0px;"}
                  %li
                    = form_tag import_contacts_path, :method=>:post, :multipart => true do
                      = label_tag 'upload', 'Upload CSV File'
                      = file_field_tag :file
                      %br
                      = submit_tag 'Submit', :class=>'btn-info btn'
  
    .btn-toolbar
      .btn-group
        = link_to 'All', contacts_path, :class=>( ( params[:starts_with] == nil )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      .btn-group
        - "A".upto("Z") do |letter|
          = link_to letter, contacts_path(:starts_with => letter), :class=>( ( params[:starts_with] == letter )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      - if current_user.has_role? :admin, @tenant then
        = link_to contacts_path( params.merge({:format=>:csv})), :class=>'pull-right btn btn-mini' do
          %i.icon-share-alt
          Export to CSV
    
   

    = form_tag "/contacts/send_email", method: "post",id:"contacts_list_form",multipart: 'true' do
      .modal.fade#myModal{style: "width:625px; margin-left:-320px;"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
              %h4.modal-title Send Email
            .modal-body
              %label Subject
              = text_field_tag "subject"
              %label Your Message
              = bootsy_area "message_body", params[:virtual]
              %label#attachment Attachment
              = file_field_tag "uploaded_file"
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              %button.btn.btn-primary#send_email_now{type: "button"} Send Email Now
      %table.table.table-striped
        %thead
          %tr
            %th
              - if current_user.has_role? :admin, @tenant then
                =check_box_tag 'toggle_check_all_contacts', 1
            %th
              =sortable 'name', 'Name'
            %th
            %th
              - #Phone
            %th
              - #Email
            %th
              =sortable 'updated_at', 'Last Updated'
            %th
              =sortable 'token', 'Requested Update?'
            %th
        %tbody#checkvalue
          - @contacts.each do |contact|
            - if contact[:type] =='Company' then
              = render 'company', :contact=>contact
            - elsif contact[:type] =='Individual' then
              = render 'individual', :contact=>contact
      - if @contacts.any?
        %button.btn.btn-primary#btn_mail{ type: "button"} Send Email
    
    .pull-left
      = paginate @contacts if @contacts.any?
    .pull-right
      = page_entries_info @contacts
:javascript
  window.onload = function()
    {
      $('iframe.wysihtml5-sandbox').hide();
      $('.modal.fade#myModal').hide();
    }
  $(function(){
    // toggle the import drop down menu
    $('.toggle-my-dropdown').click(function(){
      $(this).next('.dropdown-menu').toggle();
    });

    $('#form-send-multiple-requests a').click(function(){
      selected = Array();
      all_checked = $('.toggle_check_ids:checked');
      $('.toggle_check_ids:checked').each(function(i,v){
        selected.push($(v).val());
      });

      $('#all_ids').val(selected.join(','));
      if(selected.length == 0){
        var notice = '<span class="flash-error purr" style="display: block;">Select atleast one request!<a classname="close" href="#close"></a></span>';
        $( notice ).purr();
      }else{
        $(this).parents('form').first().submit();
      }
      return false;
  });

  
    $('.client-form-update-request').on('ajax:before', function(evt, data, status, xhr){
      $(this).addClass('show-hidden');
      $(this).parents('tr').first().find('.send-mail-update-contact-status-container').html('');
    }).on('ajax:success', function(evt, data, status, xhr){
      $(this).removeClass('show-hidden');
      $(this).parents('tr').first().find('.send-mail-update-contact-status-container').html(xhr.responseText);
      $(this).parents('tr').first().effect("highlight", {}, 3000);
    }).on('ajax:error', function(evt, data, status, xhr){
      $(this).removeClass('show-hidden');
      alert('Could not email contact. Please check the email(s) or the mail settings.')
    });
  });

  // set the toggle check all
  $(function(){
    $('#toggle_check_all_contacts').click(function(){
      if(this.checked == true){
        $('.toggle_check_ids').prop('checked', true);
      }else{
        $('.toggle_check_ids').prop('checked', false);
      }
    });
  });

  //Clearing Email form fields
  $('#subject').attr('style', 'width:355px;');
  $('#message_body').attr('style', 'width:355px;');

  $('#btn_mail').click(function(){
      $('iframe.wysihtml5-sandbox').attr('style', 'background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(204, 204, 204); border-style: solid; border-width: 1px; clear: none; display: inline-block; float: none; margin: 0px 0px 10px; outline: 0px none rgb(0, 0, 0); outline-offset: 0px; padding: 4px; position: static; z-index: auto; vertical-align: middle; text-align: start; -moz-box-sizing: content-box; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1) inset; border-radius: 3px 3px 3px 3px; width: 570px !important; height: 160px !important; top: auto; left: auto; right: auto; bottom: auto;');
      $('iframe.wysihtml5-sandbox').show();

    if($('.toggle_check_ids:checked').length){
       $('#myModal').modal('show'); 
       if($('.toggle_check_ids:checked').length > 1)
        {
          $('#uploaded_file').hide();
          $('#attachment').hide();
        }
        else{
          // only one contact is selected
          $('#uploaded_file').show();
          $('#attachment').show();
        }
    }else{
      alert("Please select atleast one contact");
    }
  });
  $("#send_email_now").click(function(){
    subject = $("#subject");
    msg = $("#message_body");
    if(msg.val() != "" && subject.val() != ""){
      $('#myModal').modal('hide');
      $("#contacts_list_form").submit();
      $("#subject").val("");
      $("#message_body").val("");
    }
    else {
      alert('Please fill the form properly');
    }
  });