- content_for(:title) do
  - @contact.name + " - Contact" 
%p
  %b Name:
  = @contact.name
%p
  %b About:
  = @contact.about
%p
  %b Contact type:
  = @contact.contact_type


= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
