.base
  %p
    .pull-left
      %b
        ATTACHED DOCUMENTS 
    .pull-right
      .btn-group
        %button{'data-toggle'=>"dropdown", 'class'=>"btn btn-mini dropdown-toggle"}
          %i.icon-plus-sign
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to new_document_path(:dType=>(resource.class.name), :dId=>resource.id), :remote=>true, :class=>'remote-form-in-bootbox' do
              Upload From Computer

          %li
            = link_to listing_document_path(:dType=>(resource.class.name), :dId=>resource.id), :remote=>true, :class=>'remote-form-in-bootbox' do
              Attach Existing

  %p.clearfix
    %table.table.no-side-margin.no-side-padding
      - resource.documentables.each do |one_documentable|
        %tr
          %td
            = link_to one_documentable.document.file_url do
              = one_documentable.document.title
            - if one_documentable.document.is_expired? then
              .label.label-important{:title=>'Document past expiry date'}
                %i.icon-time.icon-white
            - if one_documentable.document.close_to_expiry? then
              %small.label.label-warning{:title=>'Document expires in a week'}
                %i.icon-time.icon-white
          %td
            .btn-group
              = link_to edit_document_path(one_documentable.document), :remote=>:true,  :class=>'btn btn-mini', :class=>'remote-form-in-bootbox btn btn-mini' do
                %i.icon-pencil
              = link_to detach_document_path(one_documentable), :remote=>:true, :title=>'Detach Document', :class=>'btn btn-mini btn-danger link-to-detach-document' do
                %i.icon-remove.icon-white

:javascript
  $(document).on('ajax:success', '.remote-form-in-bootbox', function(evt, data, status, xhr){
    bootbox.dialog(xhr.responseText, { "label": "Cancel"});
  });

  $(document).on('ajax:success', '.link-to-detach-document', function(evt, data, status, xhr){
    $(this).parents('tr').first().css('backgroundColor', 'red').hide('slow');
  });