= simple_form_for(@document) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :filename
    = f.input :desc
    = f.input :issue_date
    = f.input :expiry_date
    = f.input :filesize
    = f.input :file

  .form-actions
    = f.button :submit
