%h1 Listing documents

%table
  %tr
    %th Title
    %th Filename
    %th Desc
    %th Issue date
    %th Expiry date
    %th Filesize
    %th File
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.title
      %td= document.filename
      %td= document.desc
      %td= document.issue_date
      %td= document.expiry_date
      %td= document.filesize
      %td= document.file
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Document', new_document_path
