%p#notice= notice

%p
  %b Title:
  = @document.title
%p
  %b Filename:
  = @document.filename
%p
  %b Desc:
  = @document.desc
%p
  %b Issue date:
  = @document.issue_date
%p
  %b Expiry date:
  = @document.expiry_date
%p
  %b Filesize:
  = @document.filesize
%p
  %b File:
  = @document.file

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
