%tr
  %th
    = link_to contact.name.to_s, individual_path(contact)
  %td
    - #if contact.has_job? then
    applied to
    - #link_to contact.job.title, contact.job
  %td
    = contact.first_phone
  %td
    = contact.first_email
  %td
    = time_ago_in_words(contact[:updated_at]) + ' ago'
  %td
    .btn-group
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
        Actions
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to 'Show', individual_path(contact)
        %li
          = link_to 'Edit', edit_individual_path(contact)
        %li
          = link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }