= simple_form_for(@candidate, :url=>candidates_path, :html=>{:class=>' form-horizontal'}) do |ff|
  = ff.error_notification
  .row
    .span6
      = ff.fields_for(:individual) do |f|
        - if @swapper == 1
          - if !@job.blank? then
            .alert.alert-info
              This candidate is created for the job
              = link_to @job.title, @job
        - if @swapper == 2      
          - if !@training.blank? then
            .alert.alert-info
              This Trainee is created for the training
              = link_to @training.title, @training
        .form-inputs
          %legend
            Personal Details

          = f.input :salutation, :input_html=>{:class=>'input-mini'}
          = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
          = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
          = f.association :company, :collection=> @acompanies
          - if @swapper == 1
            = f.input :designation

            .well
              = f.input :cv, :as =>:file, :label=>'Upload a CV'





          %legend
            Contact Information
          .control-group
            %label.control-label
              Phone
            = f.fields_for(:phone) do|builder|
              - render 'contact_details/phone_fields', :f => builder
                
            .controls
              = link_to_add_contact_detail_fields "Add a phone", f, :phone
          .control-group
            %label.control-label
              Fax
            = f.fields_for(:fax) do|builder|
              - render 'contact_details/fax_fields', :f => builder
            .controls
              = link_to_add_contact_detail_fields "Add a fax", f, :fax
          .control-group
            %label.control-label
              Email
            = f.fields_for(:email) do|builder|
              - render 'contact_details/email_fields', :f => builder
            .controls
              = link_to_add_contact_detail_fields "Add an Email Address", f, :email
        .control-group
          %label.control-label
            Internet Messenger
          = f.fields_for(:im) do|builder|
            - render 'contact_details/im_fields', :f => builder
          .controls
            = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im
        .control-group
          %label.control-label
            Address
          = f.fields_for(:addresses) do|builder|
            - render 'contact_details/address_fields', :f => builder
          .controls
            = link_to_add_address_detail_fields "Add Address", f, :addresses
    .span6
      - if @candidate[:id].blank?
        %legend
          - if @swapper == 1
            Candidates Account Data
          - if @swapper == 2
            Trainee's Account Data
        = ff.input :username
        = ff.input :email
      %legend
        - if @swapper == 1
          Job Application
          = ff.fields_for(:individual) do |f|
            = f.fields_for(:inquiries) do |fs|
              = fs.input :best_time_to_call
              = fs.input :current_employer
              = fs.input :date_available, :as => :date, :input_html=>{:class=>'input-mini'}
              = fs.input :current_pay
              = fs.input :desired_pay
              = fs.input :can_relocate, :as =>:boolean
              = fs.input :job_id, :as=>:hidden, :value => @job.id
        - if @swapper == 2
          = ff.fields_for(:individual) do |f|
            = f.fields_for(:inquiries) do |fs|
              = fs.input :training_id, :as=>:hidden, :value => @training.id


  .row
    .span6
      .form-actions
        = ff.button :submit



:javascript
  tags_source = document.getElementById('individual_tag_list').value.split(',');

  jQuery('#individual_tags_as_text').tagsManager({ hiddenTagListName: 'individual[tag_list]',hiddenTagListId: 'individual_tag_list', prefilled:tags_source, typeahead: true, preventSubmitOnEnter: true });
    
  // set up autocomplete for customer name
  $( "#individual_company_name" ).autocomplete({
      source: "/contacts/search",  
      minLength: 2,
      focus: function( event, ui ) {
        $(this).val($(this).val());
        
        return false;
      },
      select: function(event, ui) {
        if (ui.item.id == 0){
          $('#individual_company_id').val('');
          return false;
        }else{
          $('#individual_company_name').val(ui.item.name);
        }
        $('#individual_company_id').val(ui.item.id);
        return false;
      },
      response: function( event, ui ) { ui.content.push({id:'0',name:'Add a new Company?'})},
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
          .data( "item.autocomplete", item )
          .append( "<a>" + item.name + "</a>" )
          .appendTo( ul );
  };