.row
  .span4
    %h4 Sign in
    = simple_form_for(user, :as=>:user, :url => candidate_signin_path(user), :remote=>true, :html => {:class => 'candidate_signin_form form-horizontal' }) do |f|
      = f.input :username, :autofocus => true
      = f.input :password
      .controls
        .control-group
        = f.button :submit, "Sign in", :class => 'btn-primary btn-large'  
  .span4
    %h4 Register as a Candidate

    = simple_form_for(user, :url=>candidate_registration_path(user), :html=>{:class=>'candidate_register_form form-horizontal'}) do |ff|
      = ff.fields_for(:candidate) do |f|
        = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
        = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
        .well
          = f.input :cv, :as =>:file, :label=>'Upload a CV'

      = ff.input :username
      = ff.input :email
      = ff.input :password 
      .controls
        .control-group
        = ff.button :submit, "Register", :class => 'btn-primary btn-large'  , :disable_with => "Please Wait..."
        
        
