- content_for(:title) do
  - "Candidates"
%h3 Candidates
.row
  .span12
    .row
      .span9
        = form_tag candidates_path, :method => :get, :class => 'well form-inline' do
          %span
            = text_field_tag 'by_name', params[:by_name], :class => 'input-xxlarge', :placeholder=>'Search'
            = submit_tag 'Filter', :class=>'btn-info btn'
      .span3
        .well.form-inline
          = link_to 'New Candidate', new_candidate_path, :class=>'btn'
    .btn-toolbar
      .btn-group
        = link_to 'All', candidates_path, :class=>( ( params[:starts_with] == nil )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      .btn-group
        - "A".upto("Z") do |letter|
          = link_to letter, candidates_path(:starts_with => letter), :class=>( ( params[:starts_with] == letter )? 'btn btn-mini btn-inverse' :'btn-mini btn' )
      - if current_user.has_role? :admin,current_tenant then
        = link_to candidates_path( params.merge({:format=>:csv})), :class=>'pull-right btn btn-mini' do
          %i.icon-share-alt
          Export to CSV

    %table.table.table-striped
      %thead
        %tr
          %th
            =sortable 'name', 'Name'
          %th
          %th
            - #Phone
          %th
            - #Email
          %th
            =sortable 'updated_at', 'Last Updated'
          %th
      %tbody
        - @candidates.each do |contact|
          = render 'candidate', :contact=>contact
    .pull-left
      = paginate @candidates if @candidates.any?
    .pull-right
      = page_entries_info @candidates

:javascript
