- if !@swapper.blank?
  %h1
    - if @swapper == 1
      Join Us
    - if @swapper == 2
      Join Us Trainee's
  - if @swapper == 1
    = simple_form_for(@user, :url=>candidate_registration_path(:job_id=>@job), :html=>{:class=>' form-horizontal'}) do |ff|
      = ff.fields_for(:individual) do |f|
        = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
        = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
        .well
          = f.input :cv, :as =>:file, :label=>'Upload a CV'
        .control-group
          %label.control-label
            Phone
          = f.fields_for(:phone) do|builder|
            - render 'contact_details/phone_fields', :f => builder
              
          .controls
            = link_to_add_contact_detail_fields "Add a phone", f, :phone

      = ff.input :username
      = ff.input :email
      = ff.input :password 
      .controls
        .control-group
        = ff.button :submit, "Register", :class => 'btn-primary btn-large'  , :disable_with => "Please Wait..."
  - if @swapper == 2
    = simple_form_for(@user, :url=>candidate_registration_path(:training_id=>@training), :html=>{:class=>' form-horizontal'}) do |ff|
      = ff.fields_for(:individual) do |f|
        = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
        = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
        / .well
        /   = f.input :cv, :as =>:file, :label=>'Upload a CV'

      = ff.input :username
      = ff.input :email
      = ff.input :password 
      .controls
        .control-group
        = ff.button :submit, "Register", :class => 'btn-primary btn-large'  , :disable_with => "Please Wait..."
- else
  %h1
    Join Us Candidates
  = simple_form_for(@user, :url=>candidate_registration_path, :html=>{:class=>' form-horizontal'}) do |ff|
    = ff.fields_for(:individual) do |f|
      = f.input :first_name, :input_html=>{:class=>'input-xlarge'}
      = f.input :last_name, :input_html=>{:class=>'input-xlarge'}
      .well
        = f.input :cv, :as =>:file, :label=>'Upload a CV'
      .control-group
        %label.control-label
          Phone
        = f.fields_for(:phone) do|builder|
          - render 'contact_details/phone_fields', :f => builder
            
        .controls
          = link_to_add_contact_detail_fields "Add a phone", f, :phone

    = ff.input :username
    = ff.input :email
    = ff.input :password 
    .controls
      .control-group
      = ff.button :submit, "Register", :class => 'btn-primary btn-large'  , :disable_with => "Please Wait..."