%h2
  SELECT CANDIDATE(S)

- if @swapper == 1
  = form_tag('/jobs/add_candidates') do
    %table.table
      %tr
        %th
        %th
          NAME
        %th
          PHONE
        %th
          EMAIL
        %th
          UPDATED?

      - @candidates.each do |candidate|
        %tr
          %td
            -if !@job.has_candidate_applied?(candidate.id)
              = check_box_tag('ids[]', candidate.id, false)
          %td
            = link_to candidate.name.to_s, individual_path(candidate)
          %td
            = candidate.first_phone
          %td
            = candidate.first_email
          %td
            = time_ago_in_words(candidate[:updated_at]) + ' ago'
    = hidden_field_tag('job_id', @job.id)
    = submit_tag 'Assign as Candidates'
- if @swapper == 2
  = form_tag('/trainings/add_candidates') do
    %table.table
      %tr
        %th
        %th
          NAME
        %th
          PHONE
        %th
          EMAIL
        %th
          UPDATED?

      - @candidates.each do |candidate|
        %tr
          %td
            -if !@training.has_candidate_applied?(candidate.id)
              = check_box_tag('ids[]', candidate.id, false)
          %td
            = link_to candidate.name.to_s, individual_path(candidate)
          %td
            = candidate.first_phone
          %td
            = candidate.first_email
          %td
            = time_ago_in_words(candidate[:updated_at]) + ' ago'
    = hidden_field_tag('training_id', @training.id)
    = submit_tag 'Assign as Candidates'