%h4 Candidates Sign in

- if @swapper == 1
	= form_tag candidate_authentication_path, :method => :post, :class => '  form-horizontal' do
		%p
			= text_field_tag 'username', params[:username], :class => 'input-xxlarge', :placeholder=>'username'
		%p
			= text_field_tag 'password',  '', :class => 'input-xxlarge', :placeholder=>'password', :type=>:password
			= hidden_field_tag 'job_id',  params[:job_id]
		%p
			= submit_tag 'Sign in', :class=>'btn-info btn'
- if @swapper == 2
	= form_tag candidate_authentication_path, :method => :post, :class => '  form-horizontal' do
		%p
			= text_field_tag 'username', params[:username], :class => 'input-xxlarge', :placeholder=>'username'
		%p
			= text_field_tag 'password',  '', :class => 'input-xxlarge', :placeholder=>'password', :type=>:password
			= hidden_field_tag 'training_id',  params[:training_id]
		%p
			= submit_tag 'Sign in', :class=>'btn-info btn'