%p#notice= notice

.row
  .span8
    %h3
      =@candidate.individual.first_name
      =@candidate.individual.last_name
    %p
      = @candidate.individual.designation
      - if !@candidate.individual.current_employer.blank? then
        at
        = @candidate.individual.current_employer
    %dl.dl-horizontal
      %dt
        Best time to call:
      %dd
        = @candidate.individual.best_time_to_call
      %dt
        Website:
      %dd
        = @candidate.individual.website
      %dt
        Current employer:
      %dd
        = @candidate.individual.current_employer
      %dt
        Date available:
      %dd
        = @candidate.individual.date_available
      %dt
        Current pay:
      %dd
        = @candidate.individual.current_pay
      %dt
        Desired pay:
      %dd
        = @candidate.individual.desired_pay
    %p
      = @candidate.individual.can_relocate ? 'Can Relocate' : 'Cannot Relocate'
  .span4
    .well
      = link_to 'Edit', edit_candidate_path(@candidate), :class=>'btn'
    - @contact = @candidate.individual
    = render :partial=>'contact_details/contact_details', :local=>{:contact=>@candidate.individual}
    .well
      = #link_to @candidate.individual.cv_url do
      = #%i.icon.icon-arrow-down
      =#Download Resume

