= simple_form_for(@company, :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company_name, :input_html=>{:class=>'input-xxlarge'}
    = f.input :website
    = f.input :twenty_four_ops, :wrapper_html=>{:class=>'check-width'}
    = f.input :timezone, :as=>:time_zone
    = f.input :company_type, :collection => ['Vendor', 'Client'], :required => true
    %legend
      Tags
    %p
      Enter Tags seperated by commas
    = f.input :tags_as_text, :style=>'float:left;', :class=>'input-small'
    = f.input :tag_list, :as=>:hidden
    %legend
      Contact Information
    .control-group
      %label.control-label
        Phone
      = f.fields_for(:phone) do|builder|
        - render 'contact_details/phone_fields', :f => builder
          
      .controls
        = link_to_add_contact_detail_fields "Add a phone", f, :phone
    .control-group
      %label.control-label
        Fax
      = f.fields_for(:fax) do|builder|
        - render 'contact_details/fax_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add a fax", f, :fax
    .control-group
      %label.control-label
        Email
      = f.fields_for(:email) do|builder|
        - render 'contact_details/email_fields', :f => builder

      .controls
        = link_to_add_contact_detail_fields "Add an Email Address", f, :email
    .control-group
      %label.control-label
        Internet Messenger
      = f.fields_for(:im) do|builder|
        - render 'contact_details/im_fields', :f => builder
      .controls
        = link_to_add_contact_detail_fields "Add Internet Messenger", f, :im

    .control-group
      %label.control-label
        Address
      = f.fields_for(:addresses) do|builder|
        - render 'contact_details/address_fields', :f => builder
      .controls
        = link_to_add_address_detail_fields "Add Address", f, :addresses
    %legend
      Services
    .control-group
      = f.association :service_types, :collection=>ServiceType.all.map { |r| [r.desc, r.id] }, :input_html=>{:class=>'input-xxlarge', :style=>'height:350px;'}
    %hr
    = f.input :description, :input_html=>{:class=>'input-xxlarge', :rows=>6}, :required => true

  .form-actions
    = f.button :submit

    
:javascript
  
  tags_source = document.getElementById('company_tag_list').value.split(',');

  jQuery('#company_tags_as_text').tagsManager({ hiddenTagListName: 'company[tag_list]',hiddenTagListId: 'company_tag_list', prefilled:tags_source, typeahead: true, preventSubmitOnEnter: true });

