%h1 Listing companies

%table
  %tr
    %th Company name
    %th Description
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.company_name
      %td= company.description
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
