- content_for(:title) do
  - "Company::"+@company.company_name 

.row
  .span8
    %h3
      =@company.company_name
    #profile
      - @resource = @company
      = #render 'layouts/generic_comments_audits'

  .span4
    .well
      = link_to 'Edit', edit_company_path(@company), :class=>'btn'
      = link_to 'Back', companies_path, :class=>'btn'
    - @contact = @company
    = render :partial=>'contact_details/contact_details', :local=>{:contact=>@company}
    
    - if !@company.description.blank? then
      %hr
      %p
        %b 
          ='About '+@company.company_name.to_s
      = @company.description
    / - if @company.service_types.count > 0
    /   %hr
    /   %p
    /     %b
    /       Services Offered
    /       %small
    /         (Company Specific Template)
    /     - @company.contacts_service_types.each do |one_contact_service|
    /       %div
    /         = one_contact_service.service_type[:desc]
    /         %small
    /           (
    /           = best_in_place one_contact_service, :template_id, :display_as=>:template_name, :type => :select, :collection => ::Template.all.map { |r| [r.id,r.title] },  :ok_button=>'OK', :cancel_button=>'Cancel'
    /           )
    - if @company.individuals.count > 0
      %hr
      %p
        %b
          People who work here
      %table.table
        - @company.individuals.each do |one_individual|
          %tr
            %td
              = link_to one_individual[:salutation].to_s + ' ' + one_individual.name.to_s, one_individual
              %br
              %small
                =one_individual[:designation]


:javascript
 
  var timer = $.timer(function() {
    $.ajax({
      url: "/contacts/#{@company[:id]}/get_activity_stream",
    }).done(function (html) {
      $('#history').html(html);
    });
  });

  timer.set({ time : 10000, autostart : true });

  $('.best_in_place').best_in_place();

