%small
  TIMESHEET FOR
%h2
  =@timesheet.starts.to_date.strftime("%B")
  =@timesheet.starts.to_date.year

= simple_form_for(@timesheet) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contract_id, :as => :hidden
    = f.input :type, :as => :hidden
    = f.input :check_doc, :as => :hidden, :input_html=>{:value => true}
    = calendrier(:year => @timesheet.starts.to_date.year.to_i, :month => @timesheet.starts.to_date.month.to_i, :start_on_monday => true, :display => :month) do |cell_begin_time, cell_end_time|
      %br
      - if Date.today.to_date  < cell_begin_time.to_date  then

      - else
        - time_entry_on_date = @timesheet.time_entry_on_date(cell_begin_time.to_date)
        = f.simple_fields_for(:time_entries) do |t|
          - if t.object.for_date.to_date == cell_begin_time.to_date then
            = t.input :total_minutes, :input_html=>{ :class=>'input-mini'}, :label=>false,:placeholder=>'Minutes'
          - else
            = ''
    = f.input :timesheet_document, :as =>:file, :label=>'Timesheet', :hint => 'PDF or JPEG', :required => true



  .form-actions
    = f.button :submit
