%small
  WEEKLY TIMESHEET FOR
%h2
  =@timesheet.starts.to_date
  to
  =@timesheet.ends.to_date

= simple_form_for(@timesheet) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contract_id, :as => :hidden
    = f.input :type, :as => :hidden
    = f.input :check_doc, :as => :hidden, :input_html=>{:value => true}
    %table.table
      = f.simple_fields_for(:time_entries) do |t|
        %tr
          %td
            = t.object.for_date
          %td
            = t.input :total_minutes, :input_html=>{ :class=>'input-mini'}, :label=>false,:placeholder=>'Minutes'
    = f.input :timesheet_document, :as =>:file, :label=>'Timesheet', :hint => 'PDF or JPEG', :required => true


  .form-actions
    = f.button :submit
