%h2
  =@timesheet.starts.to_date.strftime("%B")
  =@timesheet.starts.to_date.year

= calendrier(:year => @timesheet.starts.to_date.year.to_i, :month => @timesheet.starts.to_date.month.to_i, :start_on_monday => true, :display => :month) do |cell_begin_time, cell_end_time|
  - time_entry_on_date = @timesheet.time_entry_on_date(cell_begin_time.to_date)
  %p
    - if time_entry_on_date.total_minutes.to_i > 0 then
      %b
        = time_entry_on_date.minutes_in_hours
    - else
      .label
        %i
          NO ENTRY