%small
  WEEKLY TIMESHEET FOR
%h2
  =@timesheet.starts.to_date
  to
  =@timesheet.ends.to_date

%table.table
  - @timesheet.time_entries.each do |entry|
    %tr
      %td
        = entry.for_date
      %td
        - if entry[:total_minutes].blank?
          .label
            No ENTRY
        - else
          = entry[:total_minutes]
