.row
  .span8
    %h1 
      Timesheets for Contract #
      = @contract.id
    %table.table
      %tr
        %th
          TIMESHEET FOR PERIOD
        %th
          TIME LOGGED
        %th
        %th

      - @timesheets.each do |timesheet|
        %tr
          %td
            - if timesheet.type == 'WeeklyTimesheet' then
              .label.label-inverse
                WEEKLY
              =timesheet.starts.to_date
              = '-'
              =timesheet.ends.to_date
            - else
              .label.label-info
                MONTHLY
              =timesheet.starts.to_date.strftime("%B")
              =timesheet.starts.to_date.year
          %td
            =timesheet.minutes_in_hours
          %td
            - if timesheet.unapproved? then
              .label.label-info
                UNAPPROVED
            - if timesheet.pending? then
              .label.label-warning
                PENDING
            - if timesheet.approved? then
              .label.label-success
                APPROVED
            - if timesheet.rejected? then
              .label.label-danger
                REJECTED
          %td
            = link_to 'Show', timesheet_path(timesheet)

  .span4
    = link_to 'New Timesheet', new_timesheet_path(:contract_id=>@contract.id)
