.row
  .span8
    - if @timesheet.type =='MonthlyTimesheet' then
      = render 'form_monthly'
    - if @timesheet.type =='WeeklyTimesheet' then
      = render 'form_weekly'
  .span4
    .well
      = link_to 'Show', timesheet_path(@timesheet)
      \|
      = link_to 'Back', timesheets_path
