.row
  .span8
    %h1 Timesheets
    %table.table
      %tr
        %th
          CONTRACT ID
        %th
          Employee Name
        %th
          TIMESHEET FOR PERIOD
        %th
          TIME LOGGED
        %th
          STATUS
        %th
          ACTIONS
      - @timesheets.each do |timesheet|
        %tr
          %td
            = '#'
            = timesheet.contract_id
          %td
            = Individual.find(timesheet.contract.candidate_id).name
          %td
            - if timesheet.type == 'WeeklyTimesheet' then
              .label.label-inverse
                WEEKLY
              =timesheet.starts.to_date
              = '-'
              =timesheet.ends.to_date
            - else
              .label.label-info
                MONTHLY
              =timesheet.starts.to_date.strftime("%B")
              =timesheet.starts.to_date.year
          %td
            =timesheet.minutes_in_hours
          %td
            - if timesheet.unapproved? then
              .label.label-info
                UNAPPROVED
            - if timesheet.pending? then
              .label.label-warning
                PENDING
            - if timesheet.approved? then
              .label.label-success
                APPROVED
            - if timesheet.rejected? then
              .label.label-danger
                REJECTED
            - if timesheet.invoiced? then
              .label.label-inverse
                INVOICED
          %td
            = link_to 'Show', timesheet_path(timesheet)

  / .span4
  /   = link_to 'New Timesheet', new_timesheet_path
