.row
  .span8
    - if @timesheet.unapproved? then
      .alert.alert-info
        UNAPPROVED
        = link_to unapproved_to_pending_timesheet_path(@timesheet), :class =>'btn btn-primary btn-mini' do
          SUBMIT TIMESHEET
    - if @timesheet.pending? then
      .alert.alert-warning
        PENDING
        - if current_user.has_role? :admin, current_tenant then
          = link_to pending_to_approved_timesheet_path(@timesheet), :class =>'btn btn-success btn-mini' do
            APPROVE
        - if current_user.has_role? :admin, current_tenant then
          = link_to pending_to_rejected_timesheet_path(@timesheet), :class =>'btn btn-danger btn-mini' do
            REJECT
    - if @timesheet.approved? then
      .alert.alert-success
        APPROVED
        - if current_user.has_role? :admin, current_tenant then
          = link_to approved_to_unapproved_timesheet_path(@timesheet), :class =>'btn btn-mini' do
            UNAPPROVE
          = link_to  contract_path(@timesheet.contract), :class =>'btn btn-mini' do
            Show Timesheets
    - if @timesheet.rejected? then
      .alert.alert-danger
        REJECTED
        - if current_user.has_role? :admin, current_tenant then
          = link_to rejected_to_unapproved_timesheet_path(@timesheet), :class =>'btn btn-mini' do
            UNREJECT  
    %small
      TIMESHEET FOR

    - if @timesheet.type =='MonthlyTimesheet' then
      = render 'monthly'
    - if @timesheet.type =='WeeklyTimesheet' then
      = render 'weekly'      


  .span4
    %small
      TIME ENTERED:
    %h2
      = @timesheet.minutes_in_hours
    %hr
    %small
      FOR CONTRACT
    %br
    %b
      CONTRACT #
      =@timesheet.contract_id
    .pull-right
      = link_to 'Show', contract_path(@timesheet.contract_id)
    %hr
    %h5 
      Attached Documents
    - if @timesheet.timesheet_document_url != nil
      %p
        = link_to image_tag("pdf.png", :width => 50), @timesheet.timesheet_document_url
    - else
      %p No Attachment Available
    .well
      = link_to 'Edit', edit_timesheet_path(@timesheet)
      \|
      = link_to 'Back', timesheets_path


