/ %h3 Sign in
/ = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
/   = f.input :username, :autofocus => true
/   = f.input :password
/   = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
/   .controls
/     .control-group
/       = f.button :submit, "Sign in", :class => 'btn-primary btn-large'
/ = render 'devise/shared/links'

%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.error_notification
  = display_base_errors resource
  .span5.login-fld
    %p
      = f.input :username, label: false, :autofocus => true, placeholder: 'Username', class: 'input-xxlarge search-query login-queryy'
    %p
      = f.input :password, label: false, placeholder: 'Password', class: 'input-xxlarge search-query login-queryy'
    %p
      = f.input :remember_me, label: false, :as => :boolean, class: 'checkbox log-check' if devise_mapping.rememberable?
    = f.button :submit, "Sign in", id: 'del_btn', :class => 'login-btnn-largee'
    %h3
    %br/
    - if devise_mapping.registerable? && controller_name != 'registrations'
      = link_to "Sign up", new_registration_path(resource_name), class: 'signupclorr'
    %br/
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      %small
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'deviselinks'
    %br/
    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      %small
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'deviselinks'
    / = render 'devise/shared/links'
:javascript
  window.onload = function()
    {
      $("#user_username").removeClass("string required");
      $("#user_username").addClass("input-xxlarge search-query login-queryy");
      $("#user_password").removeClass("password optional");
      $("#user_password").addClass("input-xxlarge search-query login-queryy");
      $("#del_btn").removeClass("btn");
      $(".checkbox").append("<font color='white'>Remember me</font>");
    }