.row
  .span8
    %p#notice= notice
    %h1
      Commission Details for Contract # 
      =@contract.id
    %dl.dl-horizontal
      %dt
        %b Employee Name
      %dd
        = Individual.find_by_id(@commission.contract.candidate_id).name
      %dt
        %b Name
      %dd
        = @commission.individual.name
      - if @commission.commission_type == 'Hourly'
        / %dt
        /   %b Total Salary:
        / %dd
        /   = @total_salary
        / %dt
        /   %b Due Date:
        / %dd
        /   = @current_bill.due_payment_date
        %dt
          %b Total Commission:
        %dd
          = @commission.total_commission
      - if @commission.commission_type == 'Fixed'
        %dt
          %b Payment Status
        %dd
          = @commission.status
        %dt
          %b Fixed Commission
        %dd
          = @commission.fixed_commission
      - if @commission.commission_type == 'Monthly'
        / %dt
        /   %b Total Salary:
        / %dd
        /   = @total_salary
        / %dt
        /   %b Due Date:
        / %dd
        /   = @current_bill.due_payment_date
        %dt
          %b Total Commission:
        %dd
          = @commission.total_commission