%h2
  Edit #{@commission.id.to_s}
= simple_form_for(@commission, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  .form-inputs
    = f.error_notification
    = display_base_errors @commission
    = f.input :commission_type, :as => :radio_buttons, :collection => ['Fixed','Hourly','Monthly'], :wrapper_html => {:class =>'radio-com_type'}
    = f.input :fixed_commission, :wrapper_html => {:class =>'f_commission'}
    = f.input :hourly_commission, :wrapper_html => {:class => 'h_commission'}
    = f.input :monthly_commission, :wrapper_html => {:class => 'm_commission'}
  .form-actions
    = f.button :submit

    :javascript
      $(function(){
        var aselected = $('.radio-com_type input:checked[type="radio"]').val();
        if(aselected == 'Fixed') {
          $('.f_commission').show();
          $('.h_commission').hide();
          $('.m_commission').hide();
        } else if(aselected == 'Hourly') {
          $('.f_commission').hide();
          $('.m_commission').hide();
          $('.h_commission').show();
        } else if(aselected == 'Monthly') {
          $('.f_commission').hide();
          $('.h_commission').hide();
          $('.m_commission').show();
        }
        $('.radio-com_type input[type="radio"]').click(function() {
          var selected = $(this).val();
          var f = $('#commission_fixed_commission').val();
          var h = $('#commission_hourly_commission').val();
          var m = $('#commission_monthly_commission').val();
          if(selected == 'Fixed') {
          $('.f_commission').show();
          $('#commission_hourly_commission').val('');
          $('#commission_monthly_commission').val('');
          $('.h_commission').hide();
          $('.m_commission').hide();
        } else if(selected == 'Hourly') {
          $('.f_commission').hide();
          $('.m_commission').hide();
          $('#commission_fixed_commission').val('');
          $('#commission_monthly_commission').val('');
          $('.h_commission').show();
        } else if(selected == 'Monthly') {
          $('.f_commission').hide();
          $('.h_commission').hide();
          $('#commission_hourly_commission').val('');
          $('#commission_fixed_commission').val('');
          $('.m_commission').show();
        }
        });
      });