.row
  .span12
    %h1 Commission Details for Contracts
  .span12
    .pull-right
      

    %table.table
      %tr
        %th Commission #
        %th Contract #
        %th Commisssion Type
        %th Fixed Commission
        %th Hourly Commission(Rate)
        %th Monthly Commission
        %th Individual
        %th Employee
        %th

      - @commissions.each do |commission|
        %tr
          %td= commission.id
          %td= commission.contract_id
          %td= commission.commission_type
          %td= commission.fixed_commission
          %td= commission.hourly_commission
          %td= commission.monthly_commission
          %td= commission.individual.name
          %td= Individual.find_by_id(commission.contract.candidate_id).name
          - if commission.commission_type == 'Fixed'
            %td
              .btn-group
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                  Actions
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Pay',commission_payment_path(:id => commission.id,:contract_id => commission.contract_id, :individual_id => commission.individual_id)
                  %li
                    = link_to 'Edit', edit_commission_path(commission)
                  %li
                    = link_to 'Delete', commission, :method => :delete, :confirm => 'Are you sure?'
          - if commission.commission_type == 'Hourly'
            %td
              .btn-group
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                  Actions
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Info',commission_payment_path(:id => commission.id,:contract_id => commission.contract_id, :individual_id => commission.individual_id)
                  %li
                    = link_to 'Edit', edit_commission_path(commission)
                  %li
                    = link_to 'Delete', commission, :method => :delete,:confirm => 'Are you sure?'
          - if commission.commission_type == 'Monthly'
            %td
              .btn-group
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                  Actions
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Info',commission_payment_path(:id => commission.id,:contract_id => commission.contract_id, :individual_id => commission.individual_id)
                  %li
                    = link_to 'Edit', edit_commission_path(commission)
                  %li
                    = link_to 'Delete', commission, :method => :delete,:confirm => 'Are you sure?'
                / %li
                /   = link_to 'Edit', edit_contract_path(contract)
                / %li
                /   = link_to 'Destroy', contract, :method => :delete, :data => { :confirm => 'Are you sure?' }


    / %br
    / .pull-left
    /   = paginate @contracts if @contracts.any?
    / .pull-right
    /   = page_entries_info @contracts