!!!
%html
  %head
    %meta{:content=>"text/html; charset=UTF-8", :'http-equiv'=>"Content-Type"}
  %body{:style=>'font-family:monospace; font-size:14px;'}
    .body{:style=>'font-family:monospace; font-size:14px;'}
      %b
        Hello
        =@contact.name
      
      %p
        We are currently updating our contacts and request you to take the time to reconfirm the validity of your contact details with us to ensure smooth and uninterrupted correspondence.
      %p
        To confirm / update your contact details please click on the following url or copy and paste it in your browser:
        
      =link_to send_form_for_requesting_update_url(@contact, :token=>@contact[:token], :id=>@contact[:id]), send_form_for_requesting_update_url(@contact, :token=>@contact[:token], :id=>@contact[:id])
      
      %p
        Thank you for your time and business.
        
      %p
        Best regards,
      %p
        = @current_user.name

      %p
        Operations Supervisor
  