<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <br/>
    Hi Admin
    <br/>
    <p>
      <%= raw @message %>
    </p>
    <p>Regards</p>
    <p>
      <%= raw @name %>
    </p>
    <br/>
    <br/>
    <p><font color="grey">Privacy Policy | Terms and Conditions</font></p>
  </body>
</html>