= simple_form_for(@time_entry) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contract_id
    = f.input :desc
    = f.input :start_at
    = f.input :end_at
    = f.input :candidate_id
    = f.input :total_minutes

  .form-actions
    = f.button :submit
