= form_tag('/time_entries/add_multiple') do
  = calendrier(:year => @year.to_i, :month => @month.to_i, :start_on_monday => true, :display => :month) do |cell_begin_time, cell_end_time|
    %br
    - if Date.today.to_date  < cell_begin_time.to_date  then

    - else
      = text_field_tag('time_entries[' + cell_begin_time.to_date.to_time.to_i.to_s + '][total_minutes]', @contract.minutes_on_date(cell_begin_time.to_date), :class=>'input-mini', :placeholder=>'Minutes')
      = hidden_field_tag('time_entries[' + cell_begin_time.to_date.to_time.to_i.to_s + '][start_at]', cell_begin_time.to_date.to_s)
      - time_entry_on_date = @contract.time_entry_on_date(cell_begin_time.to_date)
      - if time_entry_on_date != '' then
        = hidden_field_tag('time_entries[' + cell_begin_time.to_date.to_time.to_i.to_s + '][id]', time_entry_on_date.first[:id])


  = hidden_field_tag('contract_id', @contract.id)
  = submit_tag 'Save'


- d = Date.new(@year.to_i, @month.to_i, 1) << 1
= link_to '#', 'data-month'=>d.month, 'data-year'=>d.year, 'data-contract' => @contract.id, :class=>'month-changer' do
  PREV

- d = Date.new(@year.to_i, @month.to_i, 1) >> 1
= link_to '#', 'data-month'=>d.month, 'data-year'=>d.year, 'data-contract' => @contract.id, :class=>'month-changer' do
  NEXT
