= form_tag('/time_entries/add_multiple') do
  = calendrier(:year => @year.to_i, :month => @month.to_i, :start_on_monday => true, :display => :month) do |cell_begin_time, cell_end_time|
    %br
    - time_entry_on_date = @contract.time_entry_on_date(cell_begin_time.to_date)
    - if time_entry_on_date != '' then
      %i
        = @contract.minutes_on_date(cell_begin_time.to_date)
        minutes
        



- d = Date.new(@year.to_i, @month.to_i, 1) << 1
= link_to '#', 'data-month'=>d.month, 'data-year'=>d.year, 'data-contract' => @contract.id, :class=>'month-view-changer' do
  PREV

- d = Date.new(@year.to_i, @month.to_i, 1) >> 1
= link_to '#', 'data-month'=>d.month, 'data-year'=>d.year, 'data-contract' => @contract.id, :class=>'month-view-changer' do
  NEXT
