%h1 Listing time_entries

%table
  %tr
    %th Contract
    %th Desc
    %th Start at
    %th End at
    %th Candidate
    %th Total minutes
    %th
    %th
    %th

  - @time_entries.each do |time_entry|
    %tr
      %td= time_entry.contract_id
      %td= time_entry.desc
      %td= time_entry.start_at
      %td= time_entry.end_at
      %td= time_entry.candidate_id
      %td= time_entry.total_minutes
      %td= link_to 'Show', time_entry
      %td= link_to 'Edit', edit_time_entry_path(time_entry)
      %td= link_to 'Destroy', time_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Time entry', new_time_entry_path
