%p#notice= notice

%p
  %b Contract:
  = @time_entry.contract_id
%p
  %b Desc:
  = @time_entry.desc
%p
  %b Start at:
  = @time_entry.start_at
%p
  %b End at:
  = @time_entry.end_at
%p
  %b Candidate:
  = @time_entry.candidate_id
%p
  %b Total minutes:
  = @time_entry.total_minutes

= link_to 'Edit', edit_time_entry_path(@time_entry)
