/* General Typography  */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato',sans-serif;
}

p {
  font-family: 'Open Sans',sans-serif;
}

/* Blue Navigation Bar */

 .navbar .brand {
  padding: 12px 30px 12px;
  text-shadow: 0 0 1px #094277;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: white;
}

.navbar-inner {
  border-bottom: 1px solid #0c3d6a;
  background: rgb(27,116,198);
  background: -moz-linear-gradient(top,rgba(27,116,198,1) 0,rgba(9,76,138,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(27,116,198,1) ),color-stop(100%,rgba(9,76,138,1) ));
  background: -webkit-linear-gradient(top,rgba(27,116,198,1) 0,rgba(9,76,138,1) 100%);
  background: -o-linear-gradient(top,rgba(27,116,198,1) 0,rgba(9,76,138,1) 100%);
  background: -ms-linear-gradient(top,rgba(27,116,198,1) 0,rgba(9,76,138,1) 100%);
  background: linear-gradient(to bottom,rgba(27,116,198,1) 0,rgba(9,76,138,1) 100%);
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b74c6', endColorstr='#094c8a',GradientType=0 );
}

.navbar .nav {
  margin: 0;
}

.navbar .nav > li {
  margin: 10px 9px 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.navbar .nav > li > a {
  padding: 8px 16px;
  border: 1px solid #094277;
  border-radius: 3px;
  text-shadow: 0 -1px black;
  outline: 1px solid #115da3;
  color: #f4f4f4;
  background: rgb(59,161,255);
  background: -webkit-linear-gradient(top,rgba(59,161,255,1) 0,rgba(19,98,171,1) 100%);
  background: -moz-linear-gradient(top,rgba(59,161,255,1) 0,rgba(19,98,171,1) 100%);
  background: -o-linear-gradient(top,rgba(59,161,255,1) 0,rgba(19,98,171,1) 100%);
  background: -ms-linear-gradient(top,rgba(59,161,255,1) 0,rgba(19,98,171,1) 100%);
  background: linear-gradient(top,rgba(59,161,255,1) 0,rgba(19,98,171,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba1ff', endColorstr='#1362ab',GradientType=0 );
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav > li > a:hover {
  text-decoration: none;
  color: white;
  background: rgb(68,165,255);
  background: -moz-linear-gradient(top,rgba(68,165,255,1) 0,rgba(59,161,255,1) 30%,rgba(19,98,171,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(68,165,255,1) ),color-stop(30%,rgba(59,161,255,1) ),color-stop(100%,rgba(19,98,171,1) ));
  background: -webkit-linear-gradient(top,rgba(68,165,255,1) 0,rgba(59,161,255,1) 30%,rgba(19,98,171,1) 100%);
  background: -o-linear-gradient(top,rgba(68,165,255,1) 0,rgba(59,161,255,1) 30%,rgba(19,98,171,1) 100%);
  background: -ms-linear-gradient(top,rgba(68,165,255,1) 0,rgba(59,161,255,1) 30%,rgba(19,98,171,1) 100%);
  background: linear-gradient(to bottom,rgba(68,165,255,1) 0,rgba(59,161,255,1) 30%,rgba(19,98,171,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a5ff', endColorstr='#1362ab',GradientType=0 );
}

.navbar .nav .active > a:active,
.navbar .nav > li > a:active {
  background: rgb(37,134,224);
  background: -moz-linear-gradient(top,rgba(37,134,224,1) 1%,rgba(37,134,224,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,rgba(37,134,224,1) ),color-stop(100%,rgba(37,134,224,1) ));
  background: -webkit-linear-gradient(top,rgba(37,134,224,1) 1%,rgba(37,134,224,1) 100%);
  background: -o-linear-gradient(top,rgba(37,134,224,1) 1%,rgba(37,134,224,1) 100%);
  background: -ms-linear-gradient(top,rgba(37,134,224,1) 1%,rgba(37,134,224,1) 100%);
  background: linear-gradient(to bottom,rgba(37,134,224,1) 1%,rgba(37,134,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2586e0', endColorstr='#2586e0',GradientType=0 );
}

ul.nav.sign-in {
  float: right;
}

ul.nav.sign-in li {
  margin: 10px 0 10px 0;
}

.navbar .sign-up {
  display: block;
  /* float: ;*/
  margin-left: -20px;
  padding: 12px 30px;
  text-shadow: 0 0 1px #094277;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 1;
  color: white;
}

/* Introduction Section Above the Fold */

.inner-spacing-2 { /* Creates whitespace between header and description */
  padding-top: 30px;
}

.inner-spacing-3 { /* Creates whitespace between description and red button */
  padding-top: 53px;
}

#introduction {
  /* margin-top: 40px; */
  padding-top: 60px;
}

#introduction h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 100%;
}

#introduction span.keyword {
  font-weight: 700;
}

#introduction h2 {
  padding-left: 2px;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 125%;
}

a.btn-red {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 24px;
  border: 1px solid #960f00;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #6d4107;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: rgb(255,48,25);
  background: -moz-linear-gradient(top,rgba(255,48,25,1) 0,rgba(207,4,4,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,48,25,1) ),color-stop(100%,rgba(207,4,4,1) ));
  background: -webkit-linear-gradient(top,rgba(255,48,25,1) 0,rgba(207,4,4,1) 100%);
  background: -o-linear-gradient(top,rgba(255,48,25,1) 0,rgba(207,4,4,1) 100%);
  background: -ms-linear-gradient(top,rgba(255,48,25,1) 0,rgba(207,4,4,1) 100%);
  background: linear-gradient(to bottom,rgba(255,48,25,1) 0,rgba(207,4,4,1) 100%);
  box-shadow: 0 1px 3px rgba(000,000,000,0.5) ,inset 0 0 1px rgba(255,255,255,0.5);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
  text-rendering: optimizelegibility;
}

a.btn-red:hover {
  color: white;
  background: rgb(255,76,56);
  background: -moz-linear-gradient(top,rgba(255,76,56,1) 0,rgba(207,4,4,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,76,56,1) ),color-stop(100%,rgba(207,4,4,1) ));
  background: -webkit-linear-gradient(top,rgba(255,76,56,1) 0,rgba(207,4,4,1) 100%);
  background: -o-linear-gradient(top,rgba(255,76,56,1) 0,rgba(207,4,4,1) 100%);
  background: -ms-linear-gradient(top,rgba(255,76,56,1) 0,rgba(207,4,4,1) 100%);
  background: linear-gradient(to bottom,rgba(255,76,56,1) 0,rgba(207,4,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4c38', endColorstr='#cf0404',GradientType=0 );
}

a.btn-red:active {
  background: rgb(207,4,4);
  background: -moz-linear-gradient(top,rgba(207,4,4,1) 0,rgba(255,25,0,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(207,4,4,1) ),color-stop(100%,rgba(255,25,0,1) ));
  background: -webkit-linear-gradient(top,rgba(207,4,4,1) 0,rgba(255,25,0,1) 100%);
  background: -o-linear-gradient(top,rgba(207,4,4,1) 0,rgba(255,25,0,1) 100%);
  background: -ms-linear-gradient(top,rgba(207,4,4,1) 0,rgba(255,25,0,1) 100%);
  background: linear-gradient(to bottom,rgba(207,4,4,1) 0,rgba(255,25,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff1900',GradientType=0 );
}

#introduction h3 {
  font-size: 3em;
  font-weight: 400;
}

#introduction p {
  margin: 0;
  padding: 18px;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.2em;
  color: white;
}

#introduction ul {
  margin: 18px 0;
  list-style: none;
}

#introduction li {
  margin: 9px 0 9px 0;
  border: 1px solid #3069a0;
  border-radius: 3px;
  outline: 1px solid #fff;
  background: #458CD2;
  box-shadow: inset 0 3px 9px #3678b8;
}

#introduction li.even {
  background: #2c72b7;
}

/* Common CSS Used After the Introduction Section */

.progress {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 0;
  background: none;
}

.progress-striped .bar {
  background-color: #CCCCCC;
}

.inner-spacing-section {
  padding-top: 40px;
}

#howitworks h1,
#thumbnails h1,
#testimonials h1,
#pricing h1 {
  font-size: 3em;
  line-height: 100%;
}

#howitworks h2,
#thumbnails h2,
#testimonials h2,
#pricing h2 {
  font-size: 1.8em;
  font-weight: 400;
}

/* Article */

 #section-full-background { /* This gives is the one smooth vertical gradient for all sections */
  background: rgb(254,255,255);
  background: -moz-linear-gradient(top,rgba(254,255,255,1) 0,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(254,255,255,1) ),color-stop(35%,rgba(221,241,249,1) ),color-stop(100%,rgba(160,216,239,1) ));
  background: -webkit-linear-gradient(top,rgba(254,255,255,1) 0,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background: -o-linear-gradient(top,rgba(254,255,255,1) 0,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background: -ms-linear-gradient(top,rgba(254,255,255,1) 0,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background: linear-gradient(to bottom,rgba(254,255,255,1) 0,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

/* How it Works Section */

#howitworks h3 {
  font-size: 2em;
  font-weight: 400;
  line-height: 150%;
}

#howitworks p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 200%;
}

#howitworks ol {
  margin-left: 0;
  font-size: 1em;
  font-weight: 700;
  list-style: none;
}

#howitworks ol li {
  padding-bottom: 1em;
}

#howitworks img {
  margin-bottom: 9px;
}

/* Thumbnails Section */

#thumbnails h5 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.thumbnail {
  background: white; /* Makes it so that the thumbnail box displays a white background */
}

/* Testimonials Section */

#testimonials ul li {
  padding: 20px;
  border-radius: 9px;
  text-align: center;
  color: white;
  background: #404FA0;
}

#testimonials p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 200%;
}

#testimonials h5 {
  font-size: 1.4em;
}

/* Pricing */

#pricing {
  padding-bottom: 60px; /* Creates space below the pricing section */
}

#pricing ul {
  margin: 0;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
  text-align: center;
  list-style: none;
  color: black;
  background: #fff;
  box-shadow: inset 0 3px 3px rgba(0,0,0,.25);
}

#pricing ul.special {
  color: white;
  background: #39479D;
}

#pricing ul:hover {
  box-shadow: 0 0 0 rgba(0,0,0,0) inset;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#pricing ul li {
  padding: 1em 0 1em 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#pricing ul li.price {
  padding-top: 2em;
  border-bottom: none;
}

#pricing h3 {
  font-size: 1.8em;
}

#pricing h4 {
  font-size: 1.4em;
}

/* Sign Up */

#signup { 
  padding-top: 30px;
  padding-bottom: 60px;
}

/*
.bottom-striped {
  margin-top: 0;
  margin-bottom: 0;
}
*/

#signup h1 {
  text-align: center;
  font-size: 5em;
  line-height: 150%;
}

#signup h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.btn-spacing {
  padding-top: 30px;
  text-align: center;
}

/* Social */

 #social {
  padding: 20px;
  text-align: center;
  color: white;
  background: #0F5A9F;
}

#social h1 {
  font-size: 2em;
  font-weight: 700;
}

/* Footer */

footer {
  padding: 20px;
  border-top: 1px solid #054783;
  text-align: center;
  color: white;
  background: #0F5A9F;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #7cc1ff;
}