body {
	background-color: #f9f3ed !important;
}
img, .img-scale, .hero__img, .article .img-right img, .article .img-left img, .userconf-talk__img, .page-stories .story__img, .page-powered-by .story__img, .highlight-img {
	height: auto;
	max-width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
/*::::::::::::login page::::::::::::::*/
.login-fld {
	margin: 21px 0 60px 20px !important;
}
.login-bg {
	background-color: #262932;
	border-radius: 10px;
	margin: 150px 0 0 0;
}
d{
 color:#e84e0e;	
}
.login-bg h2 {
	color: #FFF;
	text-align: center;
	font-weight: 400;
	font-size: 35px;
	padding-top: 46px;
}
.login-bg h3 {
	color: #FFF;
	font-weight: 400;
	font-size: 13px;
    text-align:left;
	margin:-14px 0 0 25px;
	
}
.login-bg h4 {
	color: #FFF;
	font-weight: 400;
	font-size: 13px;
    text-align:left;
	margin:0px 0 0 25px;
	
}
.login-bg p {
	margin: 0 0 0px 0px;
	text-align: center;
	color:#FFF;
}
.logn-bg {
	text-align: left;
}
.login-queryy {
	margin-bottom: 0px !important;
}
.log-check {
	color: #FFFFFF;
	display: block;
	margin-bottom: 2px;
	margin-left: 24px;
	margin-top: 0px;
}
.login-btnn-large {
	background: none repeat scroll 0 0 #E84E0E;
	border: medium none;
	border-radius: 18px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 500;
	margin: -18px 20px 0;
	padding: 8px 30px;
	float:right;
}
.login-btnn-largee {
	background: none repeat scroll 0 0 #E84E0E;
	border: medium none;
	border-radius: 18px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 500;
	margin: -18px 41px 0;
	padding: 8px 30px;
	float:right;
}
/*::::::::::::login page end::::::::::::::*/

.navbar-inverse .brand {
	padding: 15px 0 15px 0;
}
.nav {
	margin: 18px 0 !important;
}
.navbar-inner {
	background-color: #e84e0e !important;
	background-image: none !important;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: transparent;
}
.navbar .nav > li > a {
	color: #FFF;
}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #FFFFFF !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	box-shadow: none !important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: transparent !important;
	border-bottom: 1px solid;
}
\.row, .thumbnails {
	padding: 0 0 0 3px !important;
}
.navbar-fixed-top {
	margin-bottom: 0 !important;
}
.banner-mrg {
	margin: 67px 0 0 0
}
.banner-bg {
	background-color: #262932;
	background-image: url(/assets/banner-cloud.png);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 554px;
}
.banner-bg p {
	color: #FFF;
	line-height: 25px;
	text-align: justify;
	width: 68% !important;
	padding-left: 5px;
}
.banner-bg h1 {
	color: #FFF;
	font-weight: normal;
	line-height: 43px;
	width: 68% !important;
}
.banner-bg h4 {
	color: #FFF;
	font-weight: normal;
	width: 68% !important;
}
#page1 {
	margin: 0 auto;
}
hr {
	background-color: #3d414b !important;
	width: 68% !important;
	height: 1px !important;
	border-width: 0 !important;
}
.btn-large {
	border-radius: 18px;
	font-size: 15px;
	padding: 7px 20px;
}
.btn.disabled, .btn[disabled] {
	opacity: 100 !important;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #FFF;
	color: #262932;
	text-transform: uppercase;
}
.navbar .btn, .navbar .btn-group {
	margin-top: 21px;
}
.btn-large {
	border-radius: 18px;
	font-size: 15px;
	padding: 6px 19px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #999999;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
	font-weight: 500;
}
.navbar .nav > li > a {
	padding: 10px 18px;
}
.btn {
	background-image: none;
	background-color: #FFF;
	box-shadow: none;
}
.heading {
}
.title-primary:before, .title-secondary:before, .title-third:before {
	background: #5e5e60;
	content: " ";
	height: 1px;
	left: 0;
	margin-bottom: 2px;
	position: absolute;
	top: 4px;
	width: 100%;
}
.title-primary:after {
	background-clip: padding-box;
	background-color: #e84e0e;
	border-radius: 0 0 2px 2px;
	content: " ";
	display: block;
	height: 12px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	top: -2px;
	transition: all 0.18s ease-in 0s;
	width: 60px;
}
.title-primary, .title-secondary, .title-third {
	border-top: 2px solid #323234;
	color: #333333;
	margin-bottom: 40px;
	margin-top: 80px;
	padding-top: 23px;
	position: relative;
	text-align: center;
}
.helpdesk {
	margin: 0 0 40px 0;
}
.helpdesk h2 {
	text-align: center;
	line-height: 10px;
	margin: 26px 0 0;
	font-weight: 500;
}
.helpdesk h3 {
	text-align: center;
	font-weight: 400;
}
.helpdesk p {
	text-align: center;
	line-height: 0;
}
.Feedback {
	margin: 50px 0 0 0;
}
.Feedback h2 {
	text-align: center;
	line-height: 10px;
	margin: 26px 0 0;
	font-weight: 500;
}
.Feedback h3 {
	text-align: center;
	font-weight: 400;
}
.Feedback p {
	text-align: center;
	line-height: 0;
}
.Answers {
	margin: 50px 0 0 -50px;
}
.Answers h2 {
	text-align: center;
	line-height: 10px;
	margin: 26px 0 0;
	font-weight: 500;
}
.Answers h3 {
	text-align: center;
	font-weight: 400;
}
.Answers p {
	text-align: center;
	line-height: 0;
}
.watch {
	margin: 0 auto;
}
.watch p {
	text-align: center;
	line-height: 0;
}
.span12 {
	margin: 0 auto !important;
}
.experience-users-bg {
	background-image: url(/assets/xperience-users-bg.png);
	background-position: center;
	background-repeat: repeat-x;
	min-height: 1002px;
	margin: 100px 0 0 0;
}
.experience-users-bg h1 {
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin: 54px 0 0 0
}
.experience-users-bg p {
	color: #FFF;
	text-align: center;
	margin: 30px 0 0 0
}
.mobile-app {
	margin: 68px 0 0 0;
}
.mobile-app h3 {
	margin: 0 auto;
	color: #FFF;
	font-weight: 400;
}
.mobile-app p {
	margin: 0 auto;
	text-align: left;
}
.mobile-btn-large {
	border-radius: 18px;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 19px;
	background: #e84e0e;
	text-transform: uppercase;
	border: none;
	color: #FFF;
	margin: 20px 0 0 0;
}
#mobileee {
	margin: 60px 0 0 0;
}
.screen {
	background: url(/assets/screen-img.png) top left no-repeat;
	height: 520px;
	margin: 58px 0 0 0;
}
.row-fluid .span8 {
	width: 57.812% !important;
}
.screen-app {
	margin: 250px 0 0 0;
}
.screen-app h3 {
	margin: 0 auto;
	color: #FFF;
	font-weight: 400;
}
.screen-app p {
	margin: 0 auto;
	text-align: left;
}
.Features {
	margin: 0 auto;
}
.Features p {
	text-align: justify;
}
.title-primaryyy:before, .title-secondary:before, .title-third:before {
	background: #5e5e60;
	content: " ";
	height: 1px;
	left: 0;
	margin-bottom: 2px;
	position: absolute;
	top: 4px;
	width: 100%;
}
.title-primaryyy:after {
	background-clip: padding-box;
	background-color: transparent;
	border-radius: 0 0 2px 2px;
	content: " ";
	display: block;
	height: 12px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	top: -2px;
	transition: all 0.18s ease-in 0s;
	width: 60px;
}
.title-primaryyy, .title-secondary, .title-third {
	border-top: 2px solid #323234;
	color: #333333;
	margin-bottom: 40px;
	margin-top: 80px;
	padding-top: 23px;
	position: relative;
	text-align: center;
}
.accordion-heading .accordion-toggle {
	padding: 9px 15px !important;
	border-top: 1px solid #d7cdbb;
}
.accordion-heading a {
	color: #262932;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}
.accordion-heading a:hover {
	color: #262932;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}
.accordion-heading img {
	padding: 0 26px 0px 0;
}
.accordion-group {
	border: medium none;
	border-radius: 0;
	margin-bottom: 2px;
}
.accordion-inner {
	border-top: none;
}
.accordion-inner p {
	margin: 0 0 0 57px;
}
.accordion-inner h5 {
	margin: 10px 0 0 57px;
}
.accordion-inner a {
	color: #262932;
	text-decoration: none;
}
.testimonials {
	background-image: url(/assets/testimonial_bg.png);
	background-repeat: no-repeat;
	min-height: 393px;
	margin: 58px 0 0;
	background-position: center;
}
.testimonials p {
	color: #FFF;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	line-height: 18px;
	padding: 5px 0 0 0;
}
.testimonials-top-marg {
	margin-top: 25px;
}
.testimonials h5 {
	color: #FFF;
	font-size: 20px;
	text-align: center;
}
.Twitter {
	margin: 58px 0 0;
	background-color: #ddd4c5;
}
.Twitter-inner {
	margin: 40px 0px 50px 0;
}
.Twitter p {
	font-style: italic;
	font-weight: 300;
}
.Twitter h2 {
	font-size: 40px;
	line-height: 50px;
}
.tweet-btns-top {
	margin: 150px 0 0 0;
}
.retweet-btn-large {
	background-image: url(/assets/retweet-icon.png);
	width: 131px;
	height: 39px;
	cursor: pointer;
	margin: 0px 0 0 20px;
	text-indent: -9999px;
}
.tweet-btn-large {
	background-image: url(/assets/twitter-icon.png);
	width: 131px;
	height: 39px;
	cursor: pointer;
	margin: 0px 0 0 20px;
	text-indent: -9999px;
}
.phone {
	margin: 0 0 80px 0;
}
.phone p {
	text-align: center;
}
.phone h4 {
	text-align: center;
	font-weight: 300;
	font-size: 18px;
}
.span343 {
	width: 351px; /*289*/
}
.skype {
	margin: 0 auto;
}
.skype h2 {
	text-align: center;
	font-weight: 400;
}
.skype h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #e84e0e;
	padding: 15px 0 0 0;
}
.skype p {
	text-align: center;
}
.social-btn-large {
	border-radius: 18px;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 19px;
	background: #e84e0e;
	text-transform: uppercase;
	border: none;
	color: #FFF;
	margin: 20px 0 0 0;
	width: 140px;
	height: 39px;
}
.span33 {
	width: 260px; /*292*/
}
.drop-us {
	background-color: #262932;
	margin: 85px 0 40px 0;
}
.drop-us h2 {
	color: #FFF;
	text-align: center;
	font-size: 40px;
	padding: 52px 0 0 0;
}
.con-filde {
	margin: 40px 0 52px 0;
}
.con-msg {
	margin-left: 485px !important;
	margin-top: -195px !important;
}
input.search-query {
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 8px 14px 14px;
	border-color: #626570;
	color: #fff;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #383A41 !important;
}
.offset3 {
    margin-left: 364px !important;
}
.input-xxlarge {
	width: 400px;
}
textarea {
	color: #fff;
	border-radius: 10px;
	width: 97%;
	border-color: #626570;
}
.social-icons {
	margin: 0 0 0 10px;
}
.copyright {
	margin: 0 auto;
}
.copyright p {
	text-align: center;
	margin: 20px 0 50px 0;
	color: #8e8f91;
}
.deviselinks {
	color: #FFFFFF !important;
}
.signupclorr {
	color: #E84E0E !important;
}
input.subpredict {
    border-color: #626570;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    padding: 8px 14px 14px;
}
.abc {
	margin-bottom: 21px;
}
.xyz {
	margin-bottom: 14px;
}
.message {
	color: white !important;
}
.list-st{
	border-color: #626570;
	border-radius: 10px 10px 10px 10px;
	padding-left: 5px !important;
	padding-right: 50px !important;
}
#hover_link ul li div {
	padding:4px;
	border:1px solid rgb(221,221,221);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}
#hover_link ul li div:hover {
	padding:4px;
	border:1px solid #6ca2bc !important;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}
.feature_ul1{

  padding:0px;
  margin:0px 0px 10px;
  width:1010px;
  list-style:none;
  border:none
  
}
.feature_ul2345{

  padding:0px;
  margin:0px 0px 10px;
  width:1010px;
  list-style:none

}
.feature_li1{
  
  line-height:20px;
  float:left;
  min-height:30px;
  margin-left:0px;
  width:233.0625px;
  margin-bottom:20px;
  display:block
  
}
.feature_li2345{
  
  line-height:20px;
  float:left;
  min-height:30px;
  margin-left:25.890625px;
  width:233.0625px;
  margin-bottom:20px;
  display:block

}
.feature_div{
  
  padding:4px;
  border:1px solid rgb(221,221,221);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px

}
.feature_h5{

  margin:10px 0px;
  font-family:inherit;
  line-height:20px;
  color:inherit;
  font-size:14px;
  text-align:left

}