/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootsy
 *= require bootstrap
 *= require jquery.ui.all
 *= require_tree ./app_wide/
*/



.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/*timepicker stylesheet*/
.ui-timepicker-select{width:70px;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; padding:5px; margin-bottom:0px; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/*custom stylesheets go here*/

ul.sector-list {
  margin:0px;

}

ul.sector-list li{
  margin:0px 0px 10px 0px;
  list-style:none;
}

ul.services_container{
  padding-left:5px;
  margin:10px 0px 10px 20px;
}


.service-note{
  border-left:1px solid #AAA;
  padding-left:10px;
  white-space: pre-line;
}

.one-service a, .one-sector a, .show-on-hover a{
  visibility:hidden;
}

.one-service:hover{
  background-color:#EFEFEF;
}

.one-service:hover a, .one-sector:hover a,.show-on-hover:hover a{
  visibility:visible;
}

a.exclude-from-hidden{
  visibility:visible;
}
.one-sector{
  background-color:#EFEFEF;
}

.one-comment{
  border-left:5px solid #666666;
  padding-left:5px;
}

.show-on-print{
  display:none;
}

.progress-small{height:7px;}
.is-hidden{display:none;}
.show-hidden .is-hidden{display:block;}
.show-hidden .hide-under-hidden{display:none;}

.comment blockquote{

  white-space:pre-line;
}
/*purr styles*/

#purr-container{
  position:fixed;
  top:50px;
  right:30px;
}

.purr{
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display:block;
}

.flash-success{
  background-color: #00FF00;
  border-color: #00FF00;
  color: #FFFFFF;
}

.flash-error{
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
}

#form-element-list{
  margin:0px;
  padding:0px;
}
#form-element-list li{
    list-style:none;
    margin:0px 0px 5px 0px;
    padding:0px;

}

.mini-activities tr.activity td{ line-height:1.6em;}
