= simple_form_for(@inquiry) do |f|
  = f.error_notification

  .form-inputs
    = f.input :best_time_to_call
    = f.input :current_employer
    = f.input :date_available, :as => :date, :input_html=>{:class=>'input-small'}
    = f.input :current_pay
    = f.input :desired_pay
    = f.input :can_relocate, :as =>:boolean

  .form-actions
    = f.button :submit
