%h1 Listing inquiries

%table
  %tr
    %th References
    %th References
    %th
    %th
    %th

  - @inquiries.each do |inquiry|
    %tr
      %td= inquiry.references
      %td= inquiry.references
      %td= link_to 'Show', inquiry
      %td= link_to 'Edit', edit_inquiry_path(inquiry)
      %td= link_to 'Destroy', inquiry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Inquiry', new_inquiry_path
