%p#notice= notice

.row
  .span8
    %h1
      INQUIRY #
      =@inquiry[:id]
    %dl.dl-horizontal
      %dt
        - if @swapper == 1
          Job Applied For
        - if @swapper == 2
          Trainee Applied For
      %dd
        - if @swapper == 1
          = link_to @inquiry.job.title, @inquiry.job
        - if @swapper == 2
          = link_to @inquiry.training.title, @inquiry.training
      %dt
        State
      %dd
        = @inquiry[:state]
      %dt
        Candidate
      %dd
        = link_to @inquiry.individual.name, individual_path(id: @inquiry.individual.id,tid: 1)
      - if @swapper == 1
        %dt
          Best Time To Call
        %dd
          = @inquiry[:best_time_to_call]
        %dt
          Current Employer
        %dd
          = @inquiry[:current_employer]
        %dt
          Current Pay
        %dd
          = @inquiry[:current_pay]
        %dt
          Desired Pay
        %dd
          = @inquiry[:desired_pay]
        %dt
          Date Available
        %dd
          = @inquiry[:date_available]      
        %dt
          Can Relocate
        %dd
          - if @inquiry.can_relocate? then
            .badge.badge-success
              CAN RELOCATE
          - else
            .badge.badge-warning
              CANNOT RELOCATE

/ = link_to 'Edit', edit_inquiry_path(@inquiry)
