= simple_form_for(@address_detail) do |f|
  = f.error_notification

  .form-inputs
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :country
    = f.input :zip

  .form-actions
    = f.button :submit
