%h1 Listing address_details

%table
  %tr
    %th Address
    %th City
    %th State
    %th Country
    %th Zip
    %th
    %th
    %th

  - @address_details.each do |address_detail|
    %tr
      %td= address_detail.address
      %td= address_detail.city
      %td= address_detail.state
      %td= address_detail.country
      %td= address_detail.zip
      %td= link_to 'Show', address_detail
      %td= link_to 'Edit', edit_address_detail_path(address_detail)
      %td= link_to 'Destroy', address_detail, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Address detail', new_address_detail_path
