%p#notice= notice

%p
  %b Address:
  = @address_detail.address
%p
  %b City:
  = @address_detail.city
%p
  %b State:
  = @address_detail.state
%p
  %b Country:
  = @address_detail.country
%p
  %b Zip:
  = @address_detail.zip

= link_to 'Edit', edit_address_detail_path(@address_detail)
\|
= link_to 'Back', address_details_path
