.row
  .span8
    %h2
      Salary Payment
    %dl.dl-horizontal
      %dt
        %b Contract # 
      %dd
        = @receipt.contract_id
      %dt
        %b Candidate Name:
      %dd
        = Individual.find(@receipt.contract.candidate_id).name
    = simple_form_for(@receipt, :html => { :method => :put, :class => 'form-horizontal' }) do |f|
      .form-inputs
        = f.error_notification
        = display_base_errors @receipt
        = f.input :total_salary, :disabled => true
        = f.input :payment_amount
        = f.input :expenses
        = f.input :non_contract_expenses
      .form-actions
        = f.button :submit, :value => 'Post'