.row
  .span12
    %h1 Salaries
    %table.table
      %tr
        %th #id
        %th Contract ID
        %th Candidate Name
        %th Total Time
        %th Total Salary
        %th Pending
        %th Profit
        %th Rate
        %th Status
        %th
      - @receipts.each do |receipt|
        %tr
          %td= receipt.id
          %td= receipt.contract_id
          %td= Individual.find_by_id(receipt.contract.candidate_id).name
          %td= receipt.total_time
          %td= receipt.total_salary
          %td= receipt.salary_pending
          %td= receipt.profit
          %td= receipt.rate
          %td= receipt.status
          %td
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>'btn'}
                Actions
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Pay Salary', edit_receipt_path(receipt)