%tr.activity
  %td{:style=>'vertical-align:middle'}
    = activity_icon(activity)
  %td
    - if activity.owner
      = link_to activity.owner.name, activity.owner
    - else
      someone
    = content_for :action
    = yield
    %small{:style => 'display:block;'}
      =distance_of_time_in_words_to_now(activity.created_at).to_s + ' ago' 
  %td
    - if @request != nil then
      - if @request.has_customer_been_updated_of_this(activity) == false then
        %span.label.label-warning.not-alerted-customer-yet
          ALERT?
    