%a.btn.btn-navbar{"data-toggle" => "collapse","data-target" => ".nav-collapse"}
= link_to root_path, :class => 'brand' do
  Etyme
  - if application_environment then
    %sup
      %small
        = application_environment
.nav-collapse.collapse
- if user_signed_in?  
  %ul.nav
    %li
      = link_to root_path do
        Dashboard
    %li
      = link_to my_jobs_path do
        My Job Applications
    %li
      = link_to my_trainings_path do
        My Training Applications
    %li
      = link_to my_contracts_path do
        My Contracts
    %li
      = link_to portal_job_path do
        Job Portal
    %li
      = link_to portal_training_path do
        Training Portal
    %li.dropdown
      %a{ :href => '#', 'class'=>"dropdown-toggle",'data-toggle'=>"dropdown"}
        My Timesheets
        .caret
        %ul.dropdown-menu
          %li
            = link_to my_timesheets_path do
              Timesheets Submission
    %li
      &nbsp;
  .pull-right
    %ul.nav.pull-right
      %li
        .dropdown
          .btn-group
            %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = "Hi #{ current_user.name || current_user.username }"
              %span.caret
            %ul.dropdown-menu
              - if current_user.has_role? :admin, current_tenant
                %li
                  = link_to users_path do
                    %i.icon-user
                    Users
                %li.divider
              %li
                = link_to edit_user_registration_path(subdomain: false) do
                  %i.icon-pencil
                  Edit Profile
              %li
                = link_to change_my_password_user_path do
                  %i.icon-lock
                  Change Password
              %li.divider
              %li
                = link_to destroy_user_session_path, :method=>'delete' do
                  %i.icon-eject
                  Logout
- else
  %ul.nav
    %li
      = #link_to 'Login', new_user_session_path

:javascript
  $(function(){
      $('.dropdown-toggle').dropdown();  
  })
