%div
  - if @no_more_comments.blank? then
    %br
    .row
      .hide-in-print.span6
        %h4 Notes?
        = simple_form_for Comment.new, html: {class: 'form-vertical', id: 'comment-form'}, :remote => true do |f|
          = f.error_notification
          .form-inputs
            = f.input :comment, input_html: { class: 'span6', rows: 5, multipart: true }, label: 'Add a note to this '+@resource.class.name
            = fields_for :resource do |r|
              = r.hidden_field :id , value: @resource.id
              = r.hidden_field :type, value: @resource.class.base_class.name.to_s
          .pull-right
            Note: Only basic formatting will be preserved.
          %p
            = f.submit 'Add comment', class: 'btn btn-primary'
    %hr
  #comment-form-holder.modal.hide.fade{:role=>"dialog"}
    .modal-header
      %button.close{ :type=>"button", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
        ×
      %h3
        Edit Comment
    .modal-body
  .row
    .span
      %ul.nav.nav-tabs#comments-filter
        %li.active
          %a{:href=>"#all-comment"}
            All Comments
            ='('+@resource.comments.count.to_s+')'
        %li
          %a{ :href=>"#visible-to-clients-comment"}
            Visible To Clients
            ='('+@resource.comments.visible_to_client.count.to_s+')'
        - if @history.count != 0 then
          %li
            %a{ :href=>"#show-log"}
              Activity Log

      #comments{ 'resource-type' => @resource.class.name, 'resource-id' => @resource.id}
        =render @resource.comments
      - if @history.count != 0 then
        %table.table#history{:style=>'display:none;'}
          %tr
            %td
              .alert
                Loading...

        


:javascript
$(function(){

  $(document).on('ajax:success', '#comment-form', function(evt, data, status, xhr){
    $('#comments').prepend(data).effect("highlight", {}, 2000);
    $('#comment-form').find('textarea').val('');
  });

  $('.hide_me').hide();
  $('ul#comments-filter a').click(function(){
    $(this).parents('ul').first().find('li').removeClass('active');
    $(this).parents('li').first().addClass('active');
    refer = this.href.split('#');
    
    if(refer[1]=='show-log'){
      $('#history').show();
      $('#comments').hide();
    }else{
      $('#history').hide();
      $('#comments').show();
    }

    if(refer[1]=='visible-to-clients-comment'){
      $('.comment').not('.comment_is_visible_to_team_and_client').hide();
      
    }else{
      $('.comment').show();
    }
  });
  
  // handler for edit comment link
  $(document).on('ajax:success', 'a.edit-comment-link', function(evt, data, status, xhr){
    $('#comment-form-holder').find('.modal-body').html(xhr.responseText);
    $('#comment-form-holder').modal();
  });

  $(document).on('ajax:success', 'form.edit_comment', function(evt, data, status, xhr){
    id_busted = this.id.split('_')
    id = 'comment-item-'+id_busted[id_busted.length-1]
    $('#'+id).replaceWith(xhr.responseText);
    $('#'+id).effect("highlight", {}, 3000);
    $('#comment-form-holder').find('button.close').click();
  });
  
  $(document).on('ajax:success', 'a.change-comment-visibility-link', function(evt, data, status, xhr){
    $(this).parents('.comment').first().replaceWith(xhr.responseText).effect("highlight", {}, 3000);
  });
  
  $(document).on("ajax:error",'form.edit_comment', function(evt, xhr, status, error){

      try {
        // Populate errorText with the comment errors
        errors = $.parseJSON(xhr.responseText);
      } catch(err) {
        // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
        errors = {message: "Please reload the page and try again"};
      }
      errorText = "There were errors with the submission:";
      for ( error in errors ) {
        elem = $(this).find('#comment_'+error);
        $(elem[0]).parents('.control-group').first().addClass('error');
        $(elem[0]).first().append('<span>'+errors[error][0]+'</span>')
      }
  });

})
