%a.btn.btn-navbar{"data-toggle" => "collapse","data-target" => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to root_path, :class => 'brand' do
  = image_tag('logo.png')

.nav-collapse.collapse
  - if user_signed_in?  && !current_subdomain.nil?
    %ul.nav
      %li
        = link_to root_url(subdomain: current_subdomain) do
          Dashboard
      %li.dropdown
        %a{ :href => '#', 'class'=>"dropdown-toggle",'data-toggle'=>"dropdown"}
          360
          .caret
          %ul.dropdown-menu
            %li
              = link_to jobs_url(subdomain: current_subdomain) do
                Jobs
            %li
              = link_to trainings_url(subdomain: current_subdomain) do
                Trainings
            %li
              = link_to service_types_url(subdomain: current_subdomain) do
                Services
      %li
        = link_to contracts_url(subdomain: current_subdomain) do
          Contracts
      %li.dropdown
        %a{ :href => '#', 'class'=>"dropdown-toggle",'data-toggle'=>"dropdown"}
          Timesheets
          .caret
          %ul.dropdown-menu
            %li
              = link_to timesheets_url(subdomain: current_subdomain) do
                Timesheets Approval
      %li.dropdown
        %a{ :href => '#', 'class'=>"dropdown-toggle",'data-toggle'=>"dropdown"}
          Calculations
          .caret
          %ul.dropdown-menu
            %li
              = link_to commissions_url(subdomain: current_subdomain) do
                Commissions
            %li
              = link_to receipts_url(subdomain: current_subdomain) do
                Salaries
      %li
        = link_to invoices_url(subdomain: current_subdomain) do
          Invoices
      %li
        = link_to contacts_url(subdomain: current_subdomain) do
          Contacts
      %li
        .btn-group
          %button{ 'data-toggle'=>"dropdown", 'class'=>"btn btn-success dropdown-toggle"}
            %i.icon-plus.icon-white
            Add
            %span
          %ul.dropdown-menu
            %li
              = link_to 'Job', new_job_path(subdomain: current_subdomain)
            %li
              = link_to 'Training', new_training_path(subdomain: current_subdomain)
            %li
              = link_to 'New Business Contact', new_individual_url(subdomain: current_subdomain)
            %li
              = link_to 'Contract', new_contract_path(subdomain: current_subdomain)
            %li
              = link_to new_candidate_url(subdomain: current_subdomain) do
                Candidate
            %li
              = link_to new_company_url(subdomain: current_subdomain) do
                Company
            %li
              = link_to new_service_type_url(subdomain: current_subdomain) do
                Service Type
      %li
        &nbsp;
      %li
        - if current_user.has_role? :admin, current_tenant and current_user.trial_period_active == true
          = link_to " " + trial(current_user).to_s + " Days left", payment_index_path
    %ul.nav.pull-right
      %li.dropdown
        .btn-group
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            - if current_user.name == nil or current_user.name == ''
              = "Hi #{current_user.username }"
            - else 
              = "Hi #{current_user.name }"
            %span.caret
          %ul.dropdown-menu.move-left
            - if current_user.has_role? :admin, current_tenant
              %li
                = link_to users_url(subdomain: current_subdomain) do
                  %i.icon-user
                  Users
              %li
                = link_to tenants_url(subdomain: current_subdomain) do
                  %i.icon-wrench
                  Settings
              %li.divider
            %li
              = link_to edit_user_registration_url(subdomain: false) do
                %i.icon-pencil
                Edit Profile
            %li
              = link_to change_my_password_user_url(subdomain: current_subdomain) do
                %i.icon-lock
                Change Password
            %li.divider
            %li
              = link_to destroy_user_session_url(subdomain: false), :method=>'delete' do
                %i.icon-eject
                Logout
  - elsif user_signed_in?
    %ul.nav
      %li
        = link_to destroy_user_session_url(subdomain: false), :method=>'delete' do
          Logout
  - else
    %ul.nav
      %li
        = #link_to 'Login', new_user_session_path
:javascript
  $(function(){
      $('.dropdown-toggle').dropdown();  
  })
