!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Etyme"
      %meta{:content => content_for?(:description) ? yield(:description) : "Etyme", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
      :css
        .body{background-color:#EFEFEF;}
        _main-container{padding:20px;border:1px solid #CCCCCC; background-color:#FFFFFF;}
        tr.highlighted, tr.highlighted > td, 
        tr.highlighted.warning, tr.highlighted.warning > td,
        tr.highlighted.success, tr.highlighted.success > td,
        tr.highlighted.error, tr.highlighted.error > td,
        tr.highlighted.info, tr.highlighted.info > td{
          background-color:#FFF468;
        }

        .table tr.no-bottom-border, tr.no-bottom-border, tr.no-bottom-border td, .table tr.no-bottom-border td{
          border-bottom:0px;
        }

        tr.no-top-border, .table tr.no-top-border, .table tr.no-top-border td, tr.no-top-border{
          border-top:0px;
        }
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .span12
            = render 'layouts/messages'
            = yield
        %footer

      / ! end of .container
    / ! end of #main
:javascript
  $(function(){
    $('#link-contact-form-holder').click(function(){
      $('#new-contact-form-holder').modal();
    });
  })
