!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Etyme"
      %meta{:content => content_for?(:description) ? yield(:description) : "Etyme", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:400,700"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400"
        = yield(:head)
      :css
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        / .span6.offset2
        .main-container
          = render 'layouts/messages'
          = yield
    %footer
      %br
      %br
      %br
      %p
        Copyright - Etyme 2014
      %br
      %br
      %br
      %br
      %br
      %br
      / ! end of .container
    / ! end of #main
