!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Etyme
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      = stylesheet_link_tag "authentication", :media => "all"
      = javascript_include_tag "authentication"
      = csrf_meta_tags
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    :css
      body {
        padding-top: 77px;
      }
      .drop-font{
        color: white;
        margin-left: 20px;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: "/"}
            %img{src: "/assets/logo.png", title: "Etyme"}
            /.nav-collapse
    #Features.row
      .container
        .span5.offset3
          = render 'layouts/messages'
          = yield
