!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Etyme
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      = stylesheet_link_tag "authentication", :media => "all"
      = javascript_include_tag "authentication"
      = csrf_meta_tags
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    :css
      body {
      	padding-top: 77px;
      }
      
      
      .container_demo{
      			max-width: 900px;
      			margin: 30px auto 100px;
      		}
  %body
    /
    / Navbar
    / ==================================================
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"}
            %img{src: "/assets/logo.png", title: "Etyme"}
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a.scroll{href: "#home"} Home
              %li
                %a.scroll{href: "#about"} About
              %li
                %a.scroll{href: "#Features"} Features
              / %li
              /   %a.scroll{href: "#Jobs"} Jobs
              %li
                %a.scroll{href: "#Contact"} Contact
            .pull-right
              %a{href: "/users/sign_in"}
                %button.btn.btn-large{type: "button"} Login
          /.nav-collapse
    /
    / Navbar
    / ==================================================
    / banner
    #home.row.banner-bg
      .container
        #page1
          .row-fluid.banner-mrg
            .span6
              %h1 Etyme: 
              %h4 Worlds Lightest  HR+Timesheets App 
              %p * SaaS based, Cloud Hosted. 
              %p * $14.99/user        
              %p * CRM
              %p * Job Management         
              %p * Training to Job      
              %p * Calculations & HR commissions        
              %p * Invoicing and payments        
              %hr
              %a{href: "/users/sign_up"}
                %button.btn.btn-large{type: "button"} Signup
            .span6
              %div
                %img{src: "/assets/video_im.png"}
    /banner
    / about
    #about.row
      .container
        .span12
          %h1.title-primary We connect the dots for you
          .row-fluid
            .span4.offset4
              .helpdesk
                %p
                  %img{src: "/assets/Timesheets.png"}
                %h2 Timesheet
                / %h3 Save Time Improve Service
                / %p with customer snapshot right in the ticket queue.
            .span12
              .span4
                .Feedback
                  %p
                    %img{src: "/assets/Recruitment-&-sales.png"}
                  %h2 Recruitment & sales
              .span4
                .watch
                  %p
                    %img{src: "/assets/watch.png"}
              .span4
                .Feedback
                  %p
                    %img{src: "/assets/Invoicing-&-Commission.png"}
                  %h2 Invoicing & Commission
            .span4.offset4
              .Answers
                %p
                  %img{src: "/assets/Payroll.png"}
                %h2 Payroll
    /about
    / experience your users
    #about.row.experience-users-bg
      .container
        .span12
          %h1 With an in-app experience your users will love…
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .row
          .span12
            .span3.mobile-app
              %h3 In your mobile app
              %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              %button.mobile-btn-large{type: "button"} Learn More
        
    /Features your users
    #Features.row
      .container
        #Features.span12
          %h1.title-primary Features
          .feat
            / %table.table
            / %tr
            /   %th
            /     Intuitive Dashboard
            /   %th
            /      Resume Extractor
            /   %th
            /     Powerful Search
            /   %th
            /     Multi-Import Resumes
            / %tr
            /   %th
            /     Media Integration
            /   %th
            /     Advanced Reporting
            /   %th
            /     Job Health Indicator
            /   %th
            /     Skills Cloud
            / %tr
            /   %th
            /     Job Portal Ready
            /   %th
            /     Bulk Emailing
            /   %th
            /     Task Management
            /   %th
            /     Resume Templates
            / %tr
            /   %th
            /     Free Outlook Plugin
            /   %th
            /     Website Integration
            /   %th
            /     Advanced Security
            /   %th
            /     Roles & Permissions
            / %tr
            /   %th
            /     Duplication Check
            /   %th
            /     SMS Integration
            /   %th
            /     Easy Migration
            /   %th
            /     Send Invoices


            %div#hover_link{style: "float:left;min-height:30px;margin-left:50px;width:1070px;margin-right:auto;text-align:center;padding:30px;"}
              
              %ul.feature_ul1
                %li.feature_li1{rel: "intdb", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Intuitive-Dashboard"}>
                      \ Intuitive Dashboard
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch
                      
                %li.feature_li2345{rel: "rext", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Resume-Extractor"}>
                      \ Resume Extractor
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "pwrsrc", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Powerful-Search"}>
                      \ Powerful Search
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "mltir", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Multi-Import-Resumes"}>
                      \ Multi-Import Resumes
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

              %ul.feature_ul2345
                %li.feature_li1{rel: "medint", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Media-Integration"}>
                      Media Integration
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "advrpt", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Advanced-Reporting"}>
                      Advanced Reporting
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "jhi", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Job-Health-Indicator"}>
                      Job Health Indicator
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "sklcld", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Skills-Cloud"}>
                      Skills Cloud
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

              %ul.feature_ul2345
                %li.feature_li1{rel: "jpr", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Job-Portal-Ready"}>
                      Job Portal Ready
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "blkemail", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Bulk-Emailing"}>
                      Bulk Emailing
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "tskmgmt", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Task-Management"}>
                      Task Management
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "restemp", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Resume-Templates"}>
                      Resume Templates
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

              %ul.feature_ul2345
                %li.feature_li1{rel: "foplg", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Free-Outlook-Plugin"}>
                      Free Outlook Plugin
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "webint", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Website-Integration"}>
                      Website Integration
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "advsrty", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Advanced-Security"}>
                      Advanced Security
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "rolper", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Roles-Permisiions"}>
                      Roles & Permisiions
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

              %ul.feature_ul2345
                %li.feature_li1{rel: "dupchk", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Duplication-Check"}>
                      Duplication Check
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "smsint", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-SMS-Integration"}>
                      SMS Integration
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "emig", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Easy-Migration"}>
                      Easy Migration
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

                %li.feature_li2345{rel: "sndinvo", title: ""}
                  %div.feature_div
                    %h5.feature_h5
                      %a{name: "TOC-Send-Invoices"}>
                      Send Invoices
                      %small#watch
                        %a{href: "#", :target => "_blank"}watch

    / #Jobs.row
    /   .container
    /     #Features.span12
    /       %h1.title-primaryyy Hiring
    /     .span12
    /       #accordion2.accordion
    /         .accordion-group
    /           .accordion-heading
    /             %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
    /               %img{src: "/assets/plusbutton.png"}
    /               1. I will give you a complete account of the system
    /           #collapseOne.accordion-body.collapse.in
    /             .accordion-inner
    /               %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
    /               %h5
    /                 %a{href: ""} I’M INTERESTED >>
    /         .accordion-group
    /           .accordion-heading
    /             %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo"}
    /               %img{src: "/assets/plusbutton.png"}>
    /               2. I will give you a complete account of the system
    /           #collapseTwo.accordion-body.collapse
    /             .accordion-inner
    /               %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
    /               %h5
    /                 %a{href: ""} I’M INTERESTED >>
    /         .accordion-group
    /           .accordion-heading
    /             %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapsethree"}
    /               %img{src: "/assets/plusbutton.png"}
    /               3. I will give you a complete account of the system
    /           #collapsethree.accordion-body.collapse
    /             .accordion-inner
    /               %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
    /               %h5
    /                 %a{href: ""} I’M INTERESTED >>
    /         .accordion-group
    /           .accordion-heading
    /             %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapsefour"}
    /               %img{src: "/assets/plusbutton.png"}>
    /               4. I will give you a complete account of the system
    /           #collapsefour.accordion-body.collapse
    /             .accordion-inner
    /               %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
    /               %h5
    /                 %a{href: ""} I’M INTERESTED >>
    /testimonials your users
    .row.testimonials
      .container
        .span8.offset2.testimonials-top-marg
          %p
            %img{src: "/assets/testimonial_km.png"}
          #slides2
            %div
              %p  At the time we got associated with 99ATS I was working individually from home with one associate from another city. It used to be difficult for us to co-ordinate the work we were doing. As working on same profiles both of us used to follow up same candidates many a times. Also regular follow-up with clients for feedback of all the CVs sent were not happening. And there were too many excel sheets. But, now we have a common platform for all the job profile and all the CVs. We have a history section where details for work done on any CV are extracted. Overall it has made our work smooth and easier. Also we are now in a position to judge the end result of our effort put in. And the best part is with the day to day service we are getting with respect to any problem while using the software. Now, the long term purpose of investing with 99ATS at the very initial stage seems to be coming worth at its 1st stage. As we have recruiter working with us and we gradually hope to grow higher and higher with our things organized and having more time to plan up things.   
              %h5 - Ms. Nidhi, Turn A Head Solutions
            %div
              %p
                I had tough time in managing the CV’s in mail and in my system. I also had a problem in communicating with clients and the candidates for interviews. 99ATS has made my life easy. Now I can search CV’s in seconds, retrieve mails to send to client. When I send CV to client, I can intimate the candidate also that his / her CV has been sent to the client in one click. I can track client / candidate history. 99ATS has given me more time for by core activity, i.e. sourcing.
              %p
                I had tried other products also before coming to 99ATS. I can very well say that 99ATS stands out of the all. I am very much happy about the product and can recommend anybody about this product.
              %p
                Post Sales support is marvelous. This is customer delight for any one. My best wishes for 99ATS team and keep the good work.
              %h5 - Mr. Mohan, Antal International   
            %div
              %p
                * With 99ATS, All the records are online and can access information anytime and anywhere
              %p
                * It helped us by storing every information required for us like Clients, Candidates etc.
              %p
                * Time saving, Easy to get updates (Previous and existing)
              %p  
                * Feeling good by using 99ATS as we can complete our work on time.
              %p  
                * On time response is been provided when ever required in spite of any time.
              %h5 - Mr. Ajay, Nestor Sourcing 
    /Our clients
    .row
      .container
        %h1.title-primary Our clients
        .span12
          %img{src: "/assets/client-logo.png"}
    /Our Twitter
    / .row.Twitter
    /   .container
    /     .span12
    /       .span7.Twitter-inner
    /         %h2 From Twitter
    /         %p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui,,—Acts 28:31
    /       .span4.tweet-btns-top
    /         %label.retweet-btn-large.pull-left
    /           %a{href: "#home"} RETWEET
    /         %label.tweet-btn-large.pull-left
    /           %a{href: "#home"} RETWEET
    /Our Contact
    #Contact.row
      .container
        .span12
          %h1.title-primary Contact
        .span343.phone
          %p
            %img{src: "/assets/phone-icon.png"}
          %h4 +22 004 333 2222
        .span343.phone
          %p
            %img{src: "/assets/map-icon.png"}
          %h4
            Lorem ipsum St. Ste 201
            New York, NY 10001
        .span343.phone
          %p
            %img{src: "/assets/sent-icon.png"}
          %h4 xyz@gmail.com
      / .row
      /   %iframe{frameborder: "0", height: "416", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/?ie=UTF8&ll=37.0625,-95.677068&spn=39.729049,86.572266&t=m&z=4&output=embed", width: "100%"}
      .row
        .container
          .span12
            %h1.title-primaryyy Get In Touch
            .span33.skype
              %h2 SKYPE
              %p
                %img{src: "/assets/skype-box.png"}
              %p
                %button.social-btn-large{type: "button"} CALL US
            .span33.skype
              %h2 TWITTER
              %p
                %img{src: "/assets/twitter-box.png"}
              %p
                %button.social-btn-large{type: "button"} FOLLOW US
            .span33.skype
              %h2 PHONE
              %p
                %img{src: "/assets/phone-box.png"}
              %h3 1 (811) 105-4000
            .span3.skype
              %h2 E-MAIL
              %p
                %img{src: "/assets/email-box.png"}
              %p
                %button.social-btn-large{type: "button"} SEND US
      #drop.row.drop-us
        .container
          .span12
            %h2 Drop us a line
            = render '/messages/drop_form'
    / /Our footer
    .row
      .container
        .span6.offset3.social-icons
          / %img{src: "/assets/facbook-icon.png", style: "margin:0 0 0 50px;"}
          %img{src: "/assets/facbook-icon.png"}
          %img.social-icons{src: "/assets/gmail-icon.png"}
          %img.social-icons{src: "/assets/facebook-icon.png"}
          %img.social-icons{src: "/assets/rss-icon.png"}
          %img.social-icons{src: "/assets/twitter-b-icon.png"}
          %img.social-icons{src: "/assets/p-icon.png"}
          %img.social-icons{src: "/assets/v-icon.png"}
        .span12.copyright
          %p © etyme 2014 | All Rights Reserved
:javascript
  $(function() {
    $('#slides').slidesjs({
      width: 940,
      height: 300,
      navigation: false
    });

    
    $('#slides2').slidesjs({
      width: 940,
      height: 300,
      navigation: false,
      start: 3,
      play: {
        auto: true
      }
    });

    $('#slides3').slidesjs({
      width: 940,
      height: 300,
      navigation: false
    });

    $('#hover_link ul li div h5 small').hide();
    $('#hover_link ul li div').hover(
      function(){
      $(this).find('#watch').show();
      }, 
      function(){
      $(this).find('#watch').hide();
      }
    );

  });
