!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Etyme"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    :css
      .btn, .hide-in-print{display:none;}
      .one-service a{display:none;}    
      .show-on-print{display:inline-block;}
      *, p, ol, ul, td, h1, h2, h3, h4, h5, h6{font-family:monospace;}
    = csrf_meta_tags
    = yield(:head) 
  %body
    %header.navbar.navbar-fixed-top
    #main{:role => "main"}
      .container
        = yield
    %footer
      = javascript_include_tag "application"
