<p>Hello <%= @resource.username %>!</p>

<p>Someone has invited you to <%= root_url %>, you can accept it through the link below.</p>

<p>Username: <%= @resource.username %>!</p>
<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>
